.btn
    box-sizing  border-box
    font-size 15px
    text-transform uppercase 
    text-align center
    height 33px
    line-height 33px
    cursor pointer
    transition background-color .4s ease-in-out, color .4s ease-in-out
    outline none
    border-radius 5px
    font-family $fOpen !important
    /*
    &:hover

    &_disabled,
    &[disabled]
    */

.btn-transparent
  border 1px solid $cGold
  color $cGold !important

.btn-purple
  border 1px solid $cPurple
  color #ffffff  !important
  background $cPurple

.btn-gold
  border 1px solid $cGold
  color #ffffff  !important
  background $cGold