block vars
    - var title="Title"

extends ../../partials/layout

block content

    .width-wrap.grid
        ul.breadcrumbs
            li
                a(href="") Home
            li
                a(href="") About Us
            li
                span About Us

        section.page-content.about
            aside.grid-item
                h2 About us

                ul.aside-nav
                    li
                        a(href="") About Us
                    li
                        span Our Location
                    li
                        a(href="") Careers
                    li
                        a(href="") Meet The Team
                    li
                        a(href="") FAQs
                    li
                        a(href="") Contact us

            .grid-item.two-third
                h2 Our Location

                .about--notification.location
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


                .tabs
                    ul.tabs__caption
                        li(data-lat="22.325213" data-lng="114.1062811" data-title="Hong Kong (office)" data-adress="Текст адреса" data-phone="+852 25 37 33 25" data-phone-number="85225373325" data-mail="example@mail.com").active Hong Kong
                        li(data-lat="1.3149014" data-lng="103.7769791" data-title="Hong Kong (office)" data-adress="Текст адреса" data-phone="+852 25 37 33 25" data-phone-number="85225373325" data-mail="example@mail.com") Singapoure
                        li(data-lat="22.325213" data-lng="114.1062811" data-title="Hong Kong (office)" data-adress="Текст адреса" data-phone="+852 25 37 33 25" data-phone-number="85225373325" data-mail="example@mail.com") London
                        li(data-lat="22.325213" data-lng="114.1062811" data-title="Hong Kong (office)" data-adress="Текст адреса" data-phone="+852 25 37 33 25" data-phone-number="85225373325" data-mail="example@mail.com") Edinburgh
                        li(data-lat="22.325213" data-lng="114.1062811" data-title="Hong Kong (office)" data-adress="Текст адреса" data-phone="+852 25 37 33 25" data-phone-number="85225373325" data-mail="example@mail.com") North of england
                        li(data-lat="22.325213" data-lng="114.1062811" data-title="Hong Kong (office)" data-adress="Текст адреса" data-phone="+852 25 37 33 25" data-phone-number="85225373325" data-mail="example@mail.com") East england
                        li(data-lat="22.325213" data-lng="114.1062811" data-title="Hong Kong (office)" data-adress="Текст адреса" data-phone="+852 25 37 33 25" data-phone-number="85225373325" data-mail="example@mail.com") AYR

                    div(id="map").map

                    .tabs__content.map-content.active
                        p Содержимое первой вкладки

                        .about-img
                            img(src='http://lorempixel.com/315/180/people/' alt)
                            span Team

                    .tabs__content.map-content
                        p Содержимое второй вкладки

                    .tabs__content.map-content
                        p Содержимое третей вкладки

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/location.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});