block vars
    - var title="Title"

extends ../../partials/layout

block content

    .width-wrap.grid
        ul.breadcrumbs
            li
                a(href="") Home
            li
                a(href="") About Us
            li
                span About Us

        section.page-content.about
            aside.grid-item
                h2 About us

                ul.aside-nav
                    li
                        a(href="") About Us
                    li
                        a(href="") Our Location
                    li
                        span Careers
                    li
                        a(href="") Meet The Team
                    li
                        a(href="") FAQs
                    li
                        a(href="") Contact us

            .grid-item.two-third
                h2 Careers

                .about--notification
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                ul.careers-list
                    li
                        a(href="").title Testing Expert
                        span.location (Hong Kong)

                    li
                        a(href="").title Marketing Officer
                        a(href="").location (Singapour)

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/career.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});