block vars
    - var title="Title"

extends ../../partials/layout

block content

    .width-wrap.grid
        ul.breadcrumbs
            li
                a(href="") Home
            li
                a(href="") Service
            li
                span On trade service

        section.page-content.chart
            aside.grid-item
                .tablet-hidden
                    h2 ABOUT WINE
                    p Check our latest vintage                         chart to&nbsp;get an&nbsp;idea of                         what to&nbsp;expect.
                    p Our expert reviewers base these ratings on their vast tasting experience and interviews with local winemakers, but in&nbsp;the world of&nbsp;wine, there are exceptions to&nbsp;every rule.

            .grid-item.two-third
                h2 VINTAGE CHART

                .chart-key
                    span.border Key
                    span.rating Vintage Rating:
                    span.number 1
                    span.arrow Poor ⟶
                    span.number 20
                    span Excellent

                .table-wrap
                    ul.name
                        li
                        li
                            div Champagne
                        li
                            div Bordeaux Left Bank
                        li
                            div Bordeaux Right Bank
                        li
                            div Sauternes
                        li
                            div Red Burgundy
                        li
                            div White Burgundy
                        li
                            div Northern Rhône
                        li
                            div Champagne
                        li
                            div Bordeaux Left Bank
                        li
                            div Bordeaux Right Bank
                        li
                            div Sauternes
                        li
                            div Red Burgundy
                        li
                            div White Burgundy
                        li
                            div Northern Rhône
                        li
                            div Champagne
                        li
                            div Bordeaux Left Bank
                        li
                            div Bordeaux Right Bank
                        li
                            div Sauternes
                        li
                            div Red Burgundy
                        li
                            div White Burgundy
                        li
                            div Northern Rhône

                    .scroll-wrap
                        ul.scroll
                            li.th
                                div 2015
                                div 2014
                                div 2013
                                div 2012
                                div 2011
                                div 2010
                                div 2009
                                div 2008
                                div 2007
                                div 2006
                                div 2005
                                div 2004
                                div 2003
                                div 2002
                                div 2001
                                div 2000

                            li
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1

                            li
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                            li
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                            li
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15

                            li
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6

                            li
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1

                            li
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                            li
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1

                            li
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                            li
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                            li
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15

                            li
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6

                            li
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1

                            li
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1

                            li
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1

                            li
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                                div
                                    span.number 10
                            li
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                                div
                                    span.number 12
                            li
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15
                                div
                                    span.number 15

                            li
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6
                                div
                                    span.number 6

                            li
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1

                            li
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1
                                div
                                    span.number 1



    //script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/services.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});