block vars
    - var title="Title"

extends ../../partials/layout

block content

    section.slider
        .index-slider
            div(style="background: #ffffff url('../../../img/website_banner.jpg') no-repeat 50% 50%").index-slider__el
                img(src="../../../img/website_banner.jpg" alt /)
                .width-wrap
                    //.slider__text
                        h2 Heading
                        p Description
                        a(href="") Call to action


            div(style="background: #000000 url('../../../img/website_banner2.jpg') no-repeat 50% 50%").index-slider__el
                img(src="../../../img/website_banner2.jpg" alt /)
                .width-wrap
                    //.slider__text
                        h2 Heading 2
                        p Description 2
                        a(href="") Call to action 2

            div(style="background: #ffffff url('../../../img/website_banner3.jpg') no-repeat 50% 50%").index-slider__el
                img(src="../../../img/website_banner3.jpg" alt /)
                .width-wrap
                    //slider__text
                        h2 Heading 3
                        p Description 3
                        a(href="") Call to action 3

        .slider__form-wrap
            .slider__form
                form(action="" method="post").main-form
                    h2 Quick search

                    select(name="wine_type").select-styled
                        option(disabled selected value="") Wine type
                        option(value="Wine type 1") Wine type 1
                        option(value="Wine type 2") Wine type 2

                    select(name="wine_grape").select-styled
                        option(disabled selected value="") Grape
                        option(value="Grape 1") Grape 1
                        option(value="Grape 2") Grape 2

                    select(name="wine_country").select-styled
                        option(disabled selected value="") Country
                        option(value="Country 1") Country 1
                        option(value="Country 2") Country 2

                    .justifyed
                        label.counter
                            input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                            a(href="").counter-add.js--counter--button.js-add
                            a(href="").counter-remove.js--counter--button.js-remove

                        span -

                        label.counter
                            input(type="text" name="wine_max" maxlength="4" value="1").inp.input-number
                            a(href="").counter-add.js--counter--button.js-add
                            a(href="").counter-remove.js--counter--button.js-remove

                    a(href="").btn-purple.js--form-submit Find Wines >

        .slider-notification
            .width-wrap
                p Delivery is FREE for all orders of $1,500 and over | Orders under $1,500 are charged at $170

    section.index-content
        .width-wrap
            .index-news
                h2 Whats news?

                ul.text-list
                    li.color-gray
                        div(style = "background: url(http://lorempixel.com/405/220/food) no-repeat 50% 0;").text-list--img
                            a(href="") Explore our wine

                        a(href="").text-list--details Details

                    li.color-purple
                        div(style = "background: url(http://lorempixel.com/1920/600/food) no-repeat 50% 0;").text-list--img
                            a(href="") Explore our wine

                        a(href="").text-list--details Details

                    li.color-gray
                        div(style = "background: url(http://lorempixel.com/1920/600/food) no-repeat 50% 0;").text-list--img
                            a(href="") Explore our wine

                        a(href="").text-list--details Details

                    li.color-gray
                        div(style = "background: url(http://lorempixel.com/1920/600/food) no-repeat 50% 0;").text-list--img
                            a(href="") Explore our wine

                        a(href="").text-list--details Details

                    li.color-purple
                        div(style = "background: url(http://lorempixel.com/1920/600/food) no-repeat 50% 0;").text-list--img
                            a(href="") Explore our wine

                        a(href="").text-list--details Details

                    li.color-gray
                        div(style = "background: url(http://lorempixel.com/1920/600/food) no-repeat 50% 0;").text-list--img
                            a(href="") Explore our wine

                        a(href="").text-list--details Details

            .index-house
                .index-house__content
                    h2 House
                        br
                        = "wines"
                    p Our House Wines represent excellent value without compromising on quality and taste. Great with food or simply to drink, with company or just for you.
                    a(href="") View all House Wines

                .house-slider-wrap
                    .house-slider
                        .house-slider__el
                            img(src="../../../img/img--wine.jpg" alt)
                            .house-slider__el--content
                                span.house-slider__el--content-title House Red
                                span
                                    i 2013
                                span.house-slider__el--content-price HK $100.0
                                span
                                    i “Full & rounded with a long complex finish”

                                .counter
                                    input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                    a(href="").counter-add.js--counter--button.js-add
                                    a(href="").counter-remove.js--counter--button.js-remove

                                    a(href="").btn-purple.add-to-busket.js--add ADD

                        .house-slider__el
                            img(src="../../../img/img--wine.jpg" alt)
                            .house-slider__el--content
                                span.house-slider__el--content-title House Red
                                span
                                    i 2013
                                span.house-slider__el--content-price HK $100.0
                                span
                                    i “Full & rounded with a long complex finish”
                                .counter
                                    input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                    a(href="").counter-add.js--counter--button.js-add
                                    a(href="").counter-remove.js--counter--button.js-remove

                                    a(href="").btn-purple.add-to-busket.js--add ADD

                        .house-slider__el
                            img(src="../../../img/img--wine.jpg" alt)
                            .house-slider__el--content
                                span.house-slider__el--content-title House Red
                                span
                                    i 2013
                                span.house-slider__el--content-price HK $100.0
                                span
                                    i “Full & rounded with a long complex finish”
                                .counter
                                    input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                    a(href="").counter-add.js--counter--button.js-add
                                    a(href="").counter-remove.js--counter--button.js-remove

                                    a(href="").btn-purple.add-to-busket.js--add ADD

                        .house-slider__el
                            img(src="../../../img/img--wine.jpg" alt)
                            .house-slider__el--content
                                span.house-slider__el--content-title House Red
                                span
                                    i 2013
                                span.house-slider__el--content-price HK $100.0
                                span
                                    i “Full & rounded with a long complex finish”
                                .counter
                                    input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                    a(href="").counter-add.js--counter--button.js-add
                                    a(href="").counter-remove.js--counter--button.js-remove

                                    a(href="").btn-purple.add-to-busket.js--add ADD

                        .house-slider__el
                            img(src="../../../img/img--wine.jpg" alt)
                            .house-slider__el--content
                                span.house-slider__el--content-title House Red
                                span
                                    i 2013
                                span.house-slider__el--content-price HK $100.0
                                span
                                    i “Full & rounded with a long complex finish”
                                .counter
                                    input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                    a(href="").counter-add.js--counter--button.js-add
                                    a(href="").counter-remove.js--counter--button.js-remove

                                    a(href="").btn-purple.add-to-busket.js--add ADD

            .index--promo
                ul.index-links.justifyed
                    li
                        a(href="").btn-purple Events
                    li
                        a(href="").btn-purple Champagne
                    li
                        a(href="").btn-purple Products offer
                    li
                        a(href="").btn-purple Mixed-cases


                ul.text-list
                    li.color-gray
                        div(style = "background: url(http://lorempixel.com/405/220/food) no-repeat 50% 0;").text-list--img
                            a(href="") Explore our wine

                    li.color-purple
                        div(style = "background: url(http://lorempixel.com/1920/600/food) no-repeat 50% 0;").text-list--img
                            a(href="") Explore our wine

                    li.color-gray
                        div(style = "background: url(http://lorempixel.com/1920/600/food) no-repeat 50% 0;").text-list--img
                            a(href="") Explore our wine


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/main.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});