.category

  @media nt
    padding-left 240px

  @media tb
    padding-left 10px
    padding-right 10px
    display block
    width auto

  .aside-nav
    padding-top 0
    padding-bottom 0
    margin-bottom 20px
    z-index 20
    position relative

    li
      padding 6px 10px 5px 40px
      border-bottom 1px solid $cGold
      position relative
      cursor pointer

      .sub-aside-nav
        position absolute
        top 0
        left 210px
        border 2px solid $cGold
        display none
        width 210px
        background #ffffff
        z-index 20

        li
          border-bottom  1px solid transparent
          color $cGrey
          padding-left 10px

        li:hover
          background #efebe6

      a
        position relative
        color $cGold
        font-size 14px
        display block

      a:before
        content ''
        position absolute
        width 20px
        height 20px
        top -2px
        left -28px
        background-size 100% 100% !important

        
      .icon-price:before
        background url("../img/1.png") no-repeat 0 0

      .icon-country:before
        background url("../img/2.png") no-repeat 0 0

      .icon-producer:before
        background url("../img/3.png") no-repeat 0 0

      .icon-type:before
        background url("../img/4.png") no-repeat 0 0

      .icon-grape:before
        background url("../img/5.png") no-repeat 0 0

      .icon-regions:before
        background url("../img/6.png") no-repeat 0 0

      .icon-vintage:before
        background url("../img/7.png") no-repeat 0 0

      .icon-strength:before
        background url("../img/8.png") no-repeat 0 0

    .has-sub:after
      position absolute
      content ''
      width 0
      height 0
      border-style solid
      border-width 3.5px 0 3.5px 8px
      border-color transparent transparent transparent #aa9662
      top 50%
      margin-top -3.5px
      right 20px

    li.open
      background $cGold

      .icon-price:before
        background url("../img/1_w.png") no-repeat 0 0

      .icon-country:before
        background url("../img/2_w.png") no-repeat 0 0

      .icon-producer:before
        background url("../img/3_w.png") no-repeat 0 0

      .icon-type:before
        background url("../img/4_w.png") no-repeat 0 0

      .icon-grape:before
        background url("../img/5_w.png") no-repeat 0 0

      .icon-regions:before
        background url("../img/6_w.png") no-repeat 0 0

      .icon-vintage:before
        background url("../img/7_w.png") no-repeat 0 0

      .icon-strength:before
        background url("../img/8_w.png") no-repeat 0 0

      a
        color #ffffff

      .sub-aside-nav
        display block

        li
          a
            color $cGrey

    .has-sub:hover:after
      border-color transparent transparent transparent #ffffff

    li:last-child
      border-bottom  none

    li.current-value
      background #efebe6
      margin-top -1px
      border-bottom none
      padding-left 16px
      padding-right 50px

      span
        color $cGrey

      .remove
        position absolute
        width 14px
        height 14px
        top 50%
        margin-top -7px
        right 15px
        background #e0dcd3 url("../img/icon--close.jpg") no-repeat 0 0
        background-size 100% 100%

  li.bottom_ul
    .sub-aside-nav
      top auto
      bottom 0

  li.center_ul
    .sub-aside-nav
      overflow-x hidden

  .aside--banner
    display block

    img
      width 100%

  .two-third
    position relative
    z-index 10
    padding-left 0
    padding-right 0
    background transparent
    vertical-align top
    padding-top 0
    width 740px

    @media nt
      width 67%

    @media tb
      width 100%

    .category__tablet
      display none

      @media tb
        display block
        margin-bottom 30px

      .tablet-nav
        background #ffffff

        li
          display block
          border-bottom  1px solid $cGold
          padding 10px 0 10px 0

          span,
          a
            display block
            margin-left 40px
            font-family $fGeorgia
            font-size 16px
            color $cGold
            position relative

          span:before,
          a:before
            content ''
            position absolute
            width 20px
            height 20px
            top -2px
            left -28px
            background-size 100% 100% !important


          .icon-price:before
            background url("../img/1.png") no-repeat 0 0

          .icon-country:before
            background url("../img/2.png") no-repeat 0 0

          .icon-producer:before
            background url("../img/3.png") no-repeat 0 0

          .icon-type:before
            background url("../img/4.png") no-repeat 0 0

          .icon-grape:before
            background url("../img/5.png") no-repeat 0 0

          .icon-regions:before
            background url("../img/6.png") no-repeat 0 0

          .icon-vintage:before
            background url("../img/7.png") no-repeat 0 0

          .icon-strength:before
            background url("../img/8.png") no-repeat 0 0
            
          a:after,
          span:after
            position absolute
            content ''
            width 0
            height 0
            border-style solid
            border-width 8px 3px 0 3px
            border-color #aa9662 transparent transparent transparent
            top 50%
            margin-top -3.5px
            right 20px

        li.current-value
          background #efebe6
          position relative

          a:after, span:after,
          a:before, span:before
            display none

          .remove
            position absolute
            width 14px
            height 14px
            top 50%
            margin-top -7px
            right 15px
            background #e0dcd3 url("../img/icon--close.jpg") no-repeat 0 0
            background-size 100% 100%
            display block


        li.sub-aside-nav
          padding 0
          overflow hidden
          border-bottom  none
          
          ul
            display none
            max-height 239px
            overflow-x hidden

            li
              padding-left 20px
              position relative

              a:after
                display none

            li:before
              position absolute
              content '-'
              left 40px
              top 10px
              font-family $fGeorgia
              font-size 16px
              color $cGrey

        li.has-sub:after
          position absolute 
          content '' 
          width 0 
          height 0 
          border-style solid 
          border-width 3.5px 0 3.5px 8px 
          border-color transparent transparent transparent #aa9662 
          top 50% 
          margin-top -3.5px 
          right 20px 
            

    .category__about
      background #ffffff
      margin-bottom 20px

    h2
      color $cPurple
      font-size 23px
      text-transform uppercase
      padding-bottom 16px
      margin-top 0

    h2::first-letter
      font-size 27px

    .category__about--text
      width 42%
      padding 14px 4%

      @media tb
        width 96%
        display block


      p
        color $cGold
        line-height 20px

    .category__about--img
      width 50%
        overflow hidden

      @media tb
        width 100%

      img
        height 100%

        @media tb
          display block
          margin 0 auto
          max-width 100%
          margin-bottom 14px

  .category__navigation
    background $cGold
    padding 10px 25px
    margin-bottom 20px

    @media tb
      text-align center

    .justifyed
      @media tb
        display block

    form,
    ul
      display inline-block
      vertical-align top

      @media tb
        display block
        text-align center

    form
      label
        width 240px
        display block

        @media tb
          width 100%
          margin-bottom 15px

        span
          display inline-block
          vertical-align top
          color #fff
          font-family $fGeorgia
          margin-right 20px
          padding-top 3px

        .jq-selectbox
          display inline-block !important
          vertical-align top
          width 160px
          margin-bottom 0

          .jq-selectbox__select
            width 160px
            border 1px solid #ffffff

            .jq-selectbox__select-text
              color #ffffff
              font-size 13px
              line-height 24px

            .jq-selectbox__trigger
              background #ffffff
              
              .jq-selectbox__trigger-arrow
                background url("../img/icon--down.jpg") no-repeat 0 0
                background-size 100% 100%

  .bottom--pagination
    display block
    text-align right
