.chart

  aside

    h2
      padding-left 0
      padding-right 0
      text-align center

    p
      display block
      margin 10px
      font-family $fGeorgia
      font-size 16px
      color $cGrey
  
  h2
    color #ac1e34 
    font-weight lighter 
    text-transform uppercase 
    font-size 26px 
    padding-bottom 10px

  .chart-key
    background $cGold
    margin-left -30px
    margin-right -10px

    @media mb
      margin-left 0
      margin-right 0
      text-align center

    span
      color #ffffff
      font-family $fGeorgia
      font-size 18px
      display inline-block
      vertical-align middle
      padding 10px 0

    .border
      margin-left 32px
      font-weight 700
      border-right 1px solid #ffffff
      padding-right 12px

      @media mb
        display block
        border-right none
        margin-left 10px
        text-align center

    .rating
      margin-left 15px
      margin-right 25px

      @media mb
        display block
        margin-left 10px

    .number
      width 30px
      height 30px
      border-radius  30px
      background #c6c1b8
      border 1px solid $cPurple
      text-align center
      line-height 28px
      color $cPurple
      padding 0
      margin-right 10px

  .arrow
    margin-right 15px

  .table-wrap
    display block
    margin-top 30px
    padding-left 200px

    @media mb
      padding-left 150px

    li
      display block
      min-height 43px

      div
        font-family $fOpen
        font-size 14px
        color $cGrey

    li:nth-child(odd)
      background #ffffff

      div
        height 43px
        border-bottom 1px solid #c6c1b8

    li:nth-child(even)
      background #eeeeef

      div
        height 43px
        background #eeeeef
        border-bottom 1px solid #c6c1b8

    .name
      display inline-block
      vertical-align top
      margin-left -200px
      width 200px
      border 1px solid #c6c1b8
      border-bottom none

      @media mb
        margin-left -150px
        width 150px

      li
        border-bottom 1px solid #c6c1b8

        div
          border-bottom none
          display flex !important
          display -ms-flex !important
          display -webkit-flex !important
          justify-content flex-start
          -ms-justify-content flex-start
          -webkit-justify-content flex-start
          align-items center
          -ms-align-items center
          -webkit-align-items center
          font-family $fOpen
          font-size 14px
          color $cGrey
          padding-left 20px

          @media mb
            padding-left 10px

    .scroll-wrap
      display inline-block
      vertical-align top
      width 98%
      overflow-x scroll
      border 1px solid #c6c1b8
      border-left none
      border-bottom none
      position relative

      @media tb
        width 97%

      .scroll
        width auto

        li
          white-space nowrap

          div
            height 43px
            width 64px
            display inline-flex !important
            display -ms-inline-flex !important
            display -webkit-inline-flex !important
            justify-content center
            -ms-justify-content center
            -webkit-justify-content center
            align-items center
            -ms-align-items center
            -webkit-align-items center
            border-right 1px solid #c6c1b8

            .number
              width 30px
              height 30px
              border-radius  30px
              background #c6c1b8
              border 1px solid $cPurple
              text-align center
              line-height 28px
              color $cPurple
              padding 0
              margin-right 10px
              display block
              margin 0 auto

