/*@font-face {
    font-family: 'als_rublregular';
    src: url('../fnt/rouble-webfont.eot');
    src: url('../fnt/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fnt/rouble-webfont.woff2') format('woff2'),
         url('../fnt/rouble-webfont.woff') format('woff'),
         url('../fnt/rouble-webfont.ttf') format('truetype'),
         url('../fnt/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/
@font-face {
  font-family: 'linecons';
  src: url("../fnt/linecons/linecons.eot");
  src: url("../fnt/linecons/linecons.eot?#iefix") format('embedded-opentype'), url("../fnt/linecons/linecons.woff") format('woff'), url("../fnt/linecons/linecons.ttf") format('truetype'), url("../fnt/linecons/linecons.svg#linecons") format('svg');
  font-weight: normal;
  font-style: normal;
}
