html * {
  max-height: 999999px;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 1010px;
}
@media nt {
  html,
  body {
    width: 100%;
    min-width: 780px;
  }
}
@media tb {
  html,
  body {
    min-width: 480px;
  }
}
@media mb {
  html,
  body {
    min-width: 320px;
  }
}
body {
  font: 16px 'Open Sans', sans-serif;
  color: $cBlack;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  -webkit-text-size-adjust: 100%;
  background: #e0dcd3;
}
main {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  background: #e0dcd3;
}
@media nt {
  main {
    width: 100%;
    min-width: 780px;
  }
}
@media tb {
  main {
    min-width: 480px;
  }
}
@media mb {
  main {
    min-width: 320px;
  }
}
form,
p,
ul,
ol,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}
/***** ie fix ****/
a img {
  border: none;
}
input,
textarea {
  font-family: 'Open Sans', sans-serif;
  color: $cBlack;
  outline: none;
}
button {
  font-family: 'Open Sans', sans-serif;
}
a {
  outline: none;
}
/*.rubl
    font-family 'als_rublregular'
    font-weight normal
    font-style normal  */
.wrapper {
  overflow: hidden;
}
.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
}
.clearfix after,
.section after {
  content: "";
  display: table;
  clear: both;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
section {
  position: relative;
  min-width: 1000px;
}
@media nt {
  section {
    width: 100%;
    min-width: 780px;
  }
}
@media tb {
  section {
    min-width: 480px;
  }
}
@media mb {
  section {
    min-width: 320px;
  }
}
.valign {
  height: 100%;
}
.valign before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.25em;
}
.width-wrap {
  width: 1000px;
  display: block;
  margin: 0 auto;
}
@media nt {
  .width-wrap {
    width: 100%;
    min-width: 780px;
  }
}
@media tb {
  .width-wrap {
    min-width: 480px;
  }
}
@media mb {
  .width-wrap {
    min-width: 320px;
  }
}
.justifyed {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
ol,
ul,
.grid {
  list-style: none;
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
}
li,
.grid-item {
  line-height: normal;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
