.about
  h2
    color $cPurple
    font-weight lighter
    text-transform uppercase
    font-size 26px
    padding-bottom 25px

  h2::first-letter
    font-size 28px

  .one-two
    display inline-block
    vertical-align top
    width 350px

    @media nt
      width 60%

    @media tb
      width 100%

  .tabs__content.map-content .about-img
    width 100%
    display block

  .about-img
    display inline-block
    vertical-align top
    width 315px
    margin 0
    position relative
    height auto
    float right

    @media nt
      width 35%

    @media tb
      float none
      width 50%
      margin-bottom 30px
      display block

    @media mb
      width 100%

    img
      max-width 100%

    span
      position absolute
      left 0
      right 0
      bottom 0
      padding 3px
      background rgba(255,255,255, 0.7)
      font-size 12px
      color #000000

  .about--notification.location
    border-bottom  none

  .about--notification
    display block
    padding-bottom 15px
    border-bottom 2px solid $cGrey_l

    p
      width 50%
      font-weight bold
      font-size 14px
      line-height 19px
      display inline-block
      vertical-align top

      @media tb
        display block
        width 100%

    &__img
      display inline-block
      vertical-align top
      width 48%
      text-align center
      overflow hidden

      @media tb
        display block
        width 100%
        text-align center

      img
        display block
        margin 0 auto

  .careers-list
    display block
    margin-top 20px

    li
      display block
      margin-bottom 15px

      a,
      span
        color $cGrey
        display block
        margin-bottom 3px
        font-size 12px

      a:hover
        text-decoration underline

      span.title
        text-transform uppercase

  .map
    display inline-block
    vertical-align top
    width 410px
    height 410px

    @media tb
      width 100%


  .map-popup
    max-width 240px

    span,a
      display block
      font-size 12px
      color $cGrey
      padding-bottom 5px

    span.map-popup--title
      color #000000

    *:last-child
      padding-bottom 0
