.slider
  position relative

  .bx-wrapper
    //min-height 330px
    display block
    margin-bottom 0

    @media mb
      //height 500px

    .bx-viewport
      border none
      left 0

    .index-slider__el
      background-size cover
      width 100%
      text-align center
      display block

      @media mb
        //height 500px

      img
        width 100%
        height auto
        display block
        margin 0 auto

      .width-wrap
        position absolute
        top 0
        bottom 0
        left 50%
        margin-left -500px
        display flex
        display -ms-flex
        display -webkit-flex
        align-items center
        -ms-align-items center
        -webkit-align-items center

        @media nt
          width 100%
          margin-left 0
          left 0
          right 0

        @media tb
          min-width 480px

        @media mb
          min-width 320px

    .bx-pager
      position absolute
      z-index 20
      left 50%
      top 50%
      margin-top 110px
      margin-left 275px
      width 205px
      text-align center
      display flex
      justify-content  space-between

      @media nt
        margin-left 0
        left auto
        right 20px
        bottom auto
        top 30px
        margin-top 0

      @media tb
        left 10%
        right 10%
        text-align center
        width auto
        display none !important

      .bx-pager-link
        width 57px
        height 7px
        background rgba(255,255,255,0.8)
        border-radius 0

      .bx-pager-link:hover
        background rgba(255,255,255,0.8)

      .bx-pager-link.active
        background $cPurple

  .width-wrap
    position relative
    z-index 10
    display flex
    align-items center
    //height 380px


    @media mb
      align-items flex-start

    @media mb
      min-width 320px

    .slider__text
      display inline-block
      padding 16px 22px
      background $cGrey_l
      width 220px
      margin-left 20px

      @media tb
        width 200px

      @media mb
        display block
        width 80%
        margin 0 auto 10px
        padding 3% 5%
        margin-top 10px

      h2
        padding-bottom 20px

        @media mb
          font-size 26px
          padding-bottom 10px

      p
        font-family $fGeorgia
        font-size 17px
        padding-bottom 20px

        @media mb
          font-size 20px
          padding-bottom 10px

      a
        font-family $fGeorgia
        font-size 17px
        font-style italic

  .slider__form-wrap
    position absolute
    display flex
    display -ms-flex
    display -webkit-flex
    align-items center
    -ms-align-items center
    -webkit-align-items center
    top 0
    bottom 47px
    left 50%
    margin-left 275px


    @media nt
      display none

    @media nt
      margin-left auto
      left auto
      right 20px

    .slider__form
      width 175px
      background rgba(255,255,255,0.8)
      padding 15px
      text-align center
      z-index 20
      margin-top -20px

      @media nt
        margin-left 0
        left auto
        right 20px

      @media mb
        display block
        width 81%
        margin 0 auto 10px
        padding 3% 5%
        top auto
        bottom 83px

      h2
        padding-bottom 14px
        font-size 26px


      .justifyed
        padding-top 10px

        span
          color $cGold
          line-height 24px
          font-size 14px

      .counter
        width 76px
        position relative
        height 24px
        display inline-block
        vertical-align top
        text-align left

        .inp
          display inline-block
          vertical-align top
          height 24px
          background transparent
          border 1px solid $cGold
          width 50px
          padding-left 20px
          text-align center
          font-size 13px
          line-height 23px

        a
          position absolute
          width 20px
          height 8px
          right 0
          background url("../img/icon--counter.png") no-repeat 50% -2px
          border 1px solid $cGold

        .counter-add
          top 0

        .counter-remove
          bottom 0
          background url("../img/icon--counter.png") no-repeat 50% -14px

      .counter:before
        position absolute
        content '₤'
        color $cGold
        left 7px
        top 1px
        font-size 16px
        line-height normal


  .btn-purple
    display block
    margin-top 20px
    height 27px
    line-height 27px
    border 1px solid #fff
    border-radius 7px

  .slider-notification
    background $cPurple
    padding 15px 0 11px
    text-align center

    .width-wrap
      height auto
      text-align center

      p
        color #ffffff
        font-weight bold
        font-size 18px
        display block
        text-align center
        width 100%

        @media nt
          font-size 16px

        @media mb
          padding 0 10%

.index-content
  background $cBeige
  padding-top 28px
  padding-bottom 27px

  .index-news
    background #ffffff
    padding 13px 15px 0 18px
    margin-bottom 18px

  .index-links
    margin-bottom 13px
    margin-left -2px
    margin-right 1px

    @media mb
      display block !important

    li
      display inline-block
      vertical-align top
      width 24.3%
      position relative

      @media mb
        width 80%
        display block
        margin 0 auto 15px

      a
        height 31px
        padding-left 22px
        line-height 32px
        font-weight bold
        font-size 19px
        cursor pointer
        background $cPurple
        display block

        @media tb
          font-size 14px

    li:after
      position absolute
      content ''
      width 6px
      height 10px
      background url("../img/icon--right.png") no-repeat 0 0
      background-size 100% 100%
      top: 50%
      margin-top -5px
      right 10px

.index--promo
  background #ffffff
  padding 13px 15px 0 18px
  margin-top 20px

.index-house
  padding 13px 15px 24px 16px
  background #ffffff

  .index-house__content
    width 240px
    display inline-block
    vertical-align top

    @media nt
      width 160px

    @media tb
      display block
      width auto

    h2
      color $cPurple
      padding-bottom 15px

      @media tb
        text-align center

    p
      color #80776f
      font-size 14px
      line-height 20px
      font-weight bold
      padding-bottom 31px
      font-family $fGeorgia

      @media tb
        padding-bottom 10px

    a
      display inline-block
      color #80776f
      font-size 12px
      font-weight bold
      padding-bottom 10px
      text-decoration underline
      font-family $fGeorgia

  .house-slider-wrap
    display inline-block
    vertical-align top
    width 710px
    margin-top 32px
    text-align center

    @media nt
      width 585px

    @media tb
      width 90%
      margin-left auto
      margin-right auto
      display block

  .house-slider
    width 600px
    margin 0 auto

    @media nt
      width 480px

    @media tb_s
      width 265px

    @media mb
      width 205px


    .owl-nav
      div
        position absolute
        width 33px
        height 33px
        top 50%
        margin-top -22px
        display block

      .owl-prev
        left -47px
        background url("../img/arrow_1.png") no-repeat 0 0

      .owl-next
        right -48px
        background url("../img/arrow_2.png") no-repeat 0 0

    &__el
      margin 0 10px
      width 175px
      position relative
      padding-bottom 20px

      img
        display inline-block
        vertical-align top
        width 55px
        height 210px

      &--content
        display inline-block
        vertical-align top
        width 90px
        margin-left 10px
        padding-bottom 55px
        text-align left

        span
          color #695f55
          display block
          font-family $fGeorgia
          font-size 11px
          padding-bottom 2px

          i
            font-style italic

        span.house-slider__el--content-title
          font-size 15px
          font-weight bold

        span.house-slider__el--content-price
          padding-bottom 17px

      .counter
        position absolute
        bottom 0
        right 0
        width 102px
        overflow visible

        .inp
          border 2px solid #382f2d
          width 27px
          height 27px
          line-height 27px
          text-align center
          color #382f2d
          position absolute
          left 0
          bottom 23px
          font-size 14px
          transition height 0s
          -webkit-transition height 0s

        .counter-add
          position absolute
          left 2px
          bottom 48px
          width 23px
          height 13px
          border-bottom 2px solid #382f2d
          background url("../img/icon--counter-w.jpg") no-repeat 50% -3px
          opacity 0

        .counter-remove
          position absolute
          left 2px
          bottom 10px
          width 23px
          height 13px
          border-top 2px solid #382f2d
          background url("../img/icon--counter-w.jpg") no-repeat 50% -22px
          opacity 0

        .btn-purple
          width 56px
          height 25px
          line-height 25px
          position absolute
          right 0
          bottom 23px
          text-align center
          border-radius 4px
          font-weight bold
          font-size 14px

      .counter:hover
        .inp
          height 63px
          bottom 5px

        .counter-remove,
        .counter-add
          opacity 1