block vars
    - var title="Title"

extends ../../partials/layout

block content

    .width-wrap.grid
        ul.breadcrumbs
            li
                a(href="") Home
            li
                a(href="") Service
            li
                span On trade service

        section.page-content.about
            aside.grid-item
                h2 Services

                ul.aside-nav
                    li
                        span On Trade Service
                    li
                        a(href="") Delivery & Shipping
                    li
                        a(href="") Broking Service
                    li
                        a(href="") Corporate Service
                    li
                        a(href="") Events

            .grid-item.two-third
                h2 On trade service

                .about--notification
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                    .about--notification__img
                        img(src='../../../img/icon--bung.jpg' alt /)

                .service-content
                    h3 Why corney & barrow for on trade?

                    div
                        .about-img
                            img(src='../../../img/img--service.jpg' alt)
                            span We have a commitment to service, support

                        .one-two
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/services.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});