// Variables

$cGrey = #80776f
$cGrey_l = #d3d0cf
$cPurple = #ac1e34
$cGold = #aa9562
$cGold_l = #d2c7ac
$cBeige = #e0dcd3


html *
    max-height 999999px //android font-size fix
    -webkit-font-smoothing antialiased

html
body
  margin 0
  padding 0
  width 100%
  height 100%
  min-width 1010px

  @media nt
    width 100%
    min-width 780px

  @media tb
    min-width 480px

  @media mb
    min-width 320px

body
  font 16px 'Open Sans', sans-serif
  color $cBlack
  min-height 100%
  height auto !important
  height 100%
  position relative
  -webkit-text-size-adjust 100% // ios font-size fix
  background #e0dcd3

main
  min-height 100%
  position relative
  overflow hidden
  display block
  background $cBeige

  @media nt
    width 100%
    min-width 780px

  @media tb
    min-width 480px

  @media mb
    min-width 320px

form,
p,
ul, ol,
dl, dt, dd,
h1, h2, h3, h4, h5, h6
    margin 0
    padding 0
    list-style none


/***** ie fix ****/
a img
    border none


input
textarea
    font-family 'Open Sans', sans-serif
    color $cBlack
    outline none

button
    font-family 'Open Sans', sans-serif

a
    outline none


/*.rubl
    font-family 'als_rublregular'
    font-weight normal
    font-style normal  */

.wrapper
    overflow hidden

.clear
    clear both
    font-size 0
    line-height 0
    height 0

.clearfix after
.section after
    content ""
    display table
    clear both

// .section

.pull-right
    float right

.pull-left
    float left

.text-center
    text-align center

.text-right
    text-align right
   
section
  position relative
  min-width 1000px

  @media nt
    width 100%
    min-width 780px

  @media tb
    min-width 480px

  @media mb
    min-width 320px

.valign
    height 100%   
    
    & before
        content ''
        height 100%
        display inline-block     
        vertical-align middle
        margin-right -0.25em 


.width-wrap
  width 1000px
  display block
  margin 0 auto

  @media nt
    width 100%
    min-width 780px

  @media tb
    min-width 480px

  @media mb
    min-width 320px


.justifyed
  display flex
  justify-content  space-between
  align-items flex-start

// отступы между горизонтальными li
ol, ul, .grid
    list-style none
    font-size 0
    line-height 0
    letter-spacing -1px


li, .grid-item
    line-height normal
    letter-spacing normal
    display inline-block
    vertical-align top
    zoom 1
