a, p, span
  font-family $fOpen
  font-size 14px
  line-height normal
  text-decoration none
  color #000000

a
  cursor pointer

h2
  font-family $fGeorgia
  color #1a100c
  font-size 24px
  display block
  font-width bold

h3
  font-family $fGeorgia
  color #1a100c
  font-size 14px
  display block
  font-width bold

h4
  font-family $fOpen
  font-weight bold
  font-size 16px
