.magnifier
  background #ffffff
  margin-top -22px
  border 2px solid $cGold !important
  margin-left 40px
  width 425px !important
  height 450px !important

  @media tb
    margin-top 0

.icon-wine
  display inline-block
  vertical-align top
  width 22px
  height 24px
  background url("../img/icon--bottle.jpg")
  background-size 100%

.product

  &-info
    display block
    background #ffffff
    padding 7px 7px
    padding-left 267px
    margin 0 17px 50px

    @media tb
      padding-left 7px

    &__img
      display inline-block
      vertical-align top
      width 212px
      height 275px
      text-align center
      padding 20px 0
      border 2px solid $cGold
      margin-left -260px
      margin-right 24px

      @media tb
        display none

      img
        display block
        max-width 100%
        max-height 100%
        margin 0 auto

    &__content
      display inline-block
      vertical-align top
      width 102%

      @media tb
        width 96%
        display block
        padding 0 2%

      h2
        color $cPurple
        font-size 31px
        font-weight normal
        padding-bottom 18px
        padding-top 20px

      .justifyed
        @media tb
          display block

      &__img
        display none

        @media tb
          display inline-block
          vertical-align top
          width 25%
          margin-right 2%
          border 2px solid $cGold

        @media tb
          display block
          width 80%
          margin 0 auto 20px
          text-align center

        img
          max-width 100%
          max-height 100%


      &__pararms
        display inline-block
        vertical-align top
        width 60%

        @media tb
          display inline-block
          vertical-align top
          width 70%

        @media mb
          width 100%

        p,
        span
          display block
          font-family $fGeorgia
          padding-bottom 20px

        .product-info__content__pararms-price
            font-size 17px

        .product-info__content__pararms-promo
          i
            font-size 12px
            color $cGrey
        p
          line-height 18px

        .product-info__content__pararms--charachter
          display block
          padding-bottom 15px

          li
            display inline-block
            vertical-align top
            width 50%

            span
              display inline-block
              vertical-align top
              width 48%
              font-family $fOpen
              font-weight bold
              padding-bottom 12px

            span.title
              color $cGrey
              font-family $fGeorgia
              font-weight normal

        .product-info__content__pararms-date
          color $cGrey
          font-size 13px

          .icon-wine
            width 16px
            height 18px
            margin-right 20px

        .product-info__content__pararms-delivery
          color $cGold
          font-size 13px
          font-weight bold
          font-family $fOpen

      &__aside
        display inline-block
        vertical-align top
        width 210px

        @media tb
          display flex
          justify-content space-between
          align-items flex-start
          width 100%

        @media mb
          display block

      .product-request
        border 2px solid $cGold
        padding 20px 24px
        margin-bottom 20px

        @media tb
          width 210px
          display inline-block
          vertical-align top

        @media mb
          display block
          margin-left auto
          margin-right auto

        &__amount
          display block

          span
            font-size 17px
            color $cGrey
            font-family $fGeorgia

          .counter
            width 27px
            height 27px
            position relative
            display inline-block
            vertical-align top

            .inp
              border 1px solid #382f2d
              width 27px
              height 37px
              line-height 27px
              text-align center
              color #382f2d
              position absolute
              left 7px
              bottom -3px
              font-size 14px
              transition height 0s
              -webkit-transition height 0s

            .counter-add
              position absolute
              left 8px
              bottom 23px
              width 25px
              height 9px
              border-bottom 1px solid #382f2d
              background url("../img/icon--counter-w.jpg") no-repeat 50% -5px
              opacity 1

            .counter-remove
              position absolute
              left 8px
              bottom -2px
              width 25px
              height 9px
              border-top 1px solid #382f2d
              background url("../img/icon--counter-w.jpg") no-repeat 50% -24px
              opacity 1

        .btn-purple
          display block
          border-radius  3px
          height 32px
          text-align center
          line-height 34px
          text-transform uppercase
          margin-top 10px
          margin-bottom 17px
          font-weight bold
          font-size 15px

        .btn-gold
          display block
          border-radius  3px
          height 32px
          text-align center
          line-height 34px
          text-transform uppercase
          margin-bottom 21px
          font-weight bold
          font-size 15px

        .product-request__contacts
          background #e0dcd3
          padding 14px 14px
          border-radius 3px

          span
            display block
            color $cGrey
            font-size 10px
            padding-bottom 2px

          .product-request__contacts--phone
            padding-bottom 14px

            span
              text-transform uppercase
              font-size 9px
              padding-bottom 3px

      .product-producer
        overflow hidden
        position relative

        @media tb
          width 260px
          display inline-block
          vertical-align top

        @media mb
          display block
          margin-left auto
          margin-right auto

        .product-producer__img
          display block

          img
            display block
            position relative
            z-index 5
            max-width 100%

          span
            position absolute
            z-index 10
            background rgba(255,255,255,0.7)
            left 0
            right 0
            bottom 0
            padding 8px 12px 9px
            font-size 12px
            color $cGold

        .product-producer__text
          position absolute
          z-index 20
          left 0
          right 0
          bottom 0
          top 100%
          background $cPurple
          padding 12px
          transition top 0.3s
          -webkit-transition top 0.3s

          p
            color #ffffff
            font-family $fGeorgia
            font-style italic
            margin-bottom 20px

          a
            color #ffffff
            font-family $fGeorgia
            font-style italic
            text-decoration underline

      .product-producer:hover
        .product-producer__text
          top 0

  .product-tabs
    display block
    background #ffffff
    padding 17px 10px
    margin 0 17px 50px

    .tabs__caption
      margin-bottom 25px

      li
        font-size 15px

    .tabs__content

      p,
      span
        display block
        font-size 12px
        color $cGrey
        font-family $fGeorgia
        padding-bottom 15px

        small
          display inline-block
          vertical-align top
          margin 0 5px

          i
            width 12px
            height 13px

        strong
          font-weight bold
          padding-left 5px


  .product-galery.index-house
    margin 0 20px 50px

    h2
      font-size 26px
      font-weight normal
      text-transform uppercase
      padding-top 23px

    p
      font-weight normal

    .house-slider-wrap
      width 680px

      @media nt
        width 575px

      @media tb
        width 90%