block vars
    - var title="Title"

extends ../../partials/layout

block content

    .width-wrap
        .cart-wrap
            .justifyed.cart
                .cart-content
                    h2 My Barrow
                    form(action="" method="")
                        ul.cart--list
                            li.cart--list__el.caption.justifyed
                                .cart--list__el--product
                                    span product
                                .cart--list__el--quanity
                                    span quanity
                                .cart--list__el--price
                                    span price

                            li.cart--list__el.justifyed
                                .cart--list__el--product
                                    img(src="../../../img/img--wine.jpg" alt /)
                                    div
                                        span.cart--list__el--product-title Corney & Barrow  House Claret 2010 Halves
                                        span Product Code 123456789 BOTTLE

                                .cart--list__el--quanity
                                    .counter
                                        input(type="hidden" name="id" value="id_01")
                                        input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                        a(href="").counter-add.js--counter--button.js-add
                                        a(href="").counter-remove.js--counter--button.js-remove

                                    span Bottle(s)
                                    a(href="").remove
                                        img(src="../../../img/icon--close-s.jpg" alt /)
                                        = " Remove"


                                .cart--list__el--price
                                    span HR$100

                            li.cart--list__el.justifyed
                                .cart--list__el--product
                                    img(src="../../../img/img--wine.jpg" alt /)
                                    div
                                        span.cart--list__el--product-title Corney & Barrow  House Claret 2010 Halves
                                        span Product Code 123456789 BOTTLE

                                .cart--list__el--quanity
                                    .counter
                                        input(type="hidden" name="id" value="id_02")
                                        input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                        a(href="").counter-add.js--counter--button.js-add
                                        a(href="").counter-remove.js--counter--button.js-remove

                                    span Bottle(s)
                                    a(href="").remove
                                        img(src="../../../img/icon--close-s.jpg" alt /)
                                        = " Remove"

                                .cart--list__el--price
                                    span HR$100

                            li.cart--list__el.justifyed
                                .cart--list__el--product
                                    img(src="../../../img/img--wine.jpg" alt /)
                                    div
                                        span.cart--list__el--product-title Corney & Barrow  House Claret 2010 Halves
                                        span Product Code 123456789 BOTTLE

                                .cart--list__el--quanity
                                    .counter
                                        input(type="hidden" name="id" value="id_02")
                                        input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                        a(href="").counter-add.js--counter--button.js-add
                                        a(href="").counter-remove.js--counter--button.js-remove

                                    span Bottle(s)
                                    a(href="").remove
                                        img(src="../../../img/icon--close-s.jpg" alt /)
                                        = " Remove"

                                .cart--list__el--price
                                    span HR$100

                            li.cart--list__el.justifyed
                                .cart--list__el--product
                                    img(src="../../../img/img--wine.jpg" alt /)
                                    div
                                        span.cart--list__el--product-title Corney & Barrow  House Claret 2010 Halves
                                        span Product Code 123456789 BOTTLE

                                .cart--list__el--quanity
                                    .counter
                                        input(type="hidden" name="id" value="id_02")
                                        input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                        a(href="").counter-add.js--counter--button.js-add
                                        a(href="").counter-remove.js--counter--button.js-remove

                                    span Bottle(s)
                                    a(href="").remove
                                        img(src="../../../img/icon--close-s.jpg" alt /)
                                        = " Remove"

                                .cart--list__el--price
                                    span HR$100

                .cart-summ
                    h2 Summary
                    .cart-summ__position.justifyed
                        span
                            strong Basket Total
                        span.value HK$201.50

                    .cart-summ__position.justifyed
                        span Estimated Delivery
                        span.value HR$0.00

                    .cart-summ__position.total.justifyed
                        span
                            strong Final Total
                        span.value HR$201.50

                    .cart-summ__payment
                        a(href="").btn-gold Checkout  now

                        ul.payment--method
                            li
                                img(src="../../../img/icon--payment-vs.jpg" alt /)
                            li
                                img(src="../../../img/icon--payment-mc.jpg" alt /)
                            li
                                img(src="../../../img/icon--payment-ms.jpg" alt /)



            ul.card-banners
                li

                    img(src="../../../img/card--banner-1.jpg" alt /)
                    div
                        span.title FREE Delivery  for Mainland UK Deliveryies Over $50
                        span.title Need to speak us?
                        span Our customer helping  is 020 7265 2470

                li
                    img(src="../../../img/card--banner-2.jpg" alt /)
                    div
                        span.title Is your purchase  s Gift?
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/cart1.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});