block vars
    - var title="Title"

extends ../../partials/layout

block content

    .width-wrap
        .cart-wrap
            h2.p-left Pay & Confirm
            form(action="" method="")
                .justifyed.cart-confirm
                    .cart-billing
                        h3 Billing Information

                        label.label
                            span E-mail*
                            input(type="text" name="" required).inp
                            span
                                small We will send message  to the above  email adress.  Please ensure the email adress is accessible  and up-to-date.

                        label.label.one-two
                            span Password*
                            input(type="text" name="" required).inp
                        label.label.one-two
                            span Confirm*
                            input(type="text" name="" required).inp
                        label.label.one-two
                            span First name*
                            input(type="text" name="" required).inp
                        label.label.one-two
                            span Last name*
                            input(type="text" name="" required).inp
                        label.label.one-two
                            span Telephone*
                            input(type="text" name="" required).inp
                        .label.one-two
                            span Gender*

                            label.label-gender
                                input(type="radio" name="gender").hidden-block
                                .psevdoradio
                                    i
                                span Male

                            label.label-gender
                                input(type="radio" name="gender").hidden-block
                                .psevdoradio
                                    i
                                span Female

                        .label
                            span Birthday

                            label.counter.one-three
                                input(type="text" name="day" maxlength="4" value="1" placeholder="DD").inp.input-number
                                a(href="").counter-add.js--counter--button.js-add
                                a(href="").counter-remove.js--counter--button.js-remove

                            label.counter.one-three
                                input(type="text" name="day" maxlength="4" value="1" placeholder="MM").inp.input-number
                                a(href="").counter-add.js--counter--button.js-add
                                a(href="").counter-remove.js--counter--button.js-remove

                            label.counter.one-three
                                input(type="text" name="day" maxlength="4" value="1" placeholder="YYYY").inp.input-number
                                a(href="").counter-add.js--counter--button.js-add
                                a(href="").counter-remove.js--counter--button.js-remove

                        label.label
                            span
                                strong We recommend you input your adress in English for latest, more accurate ahipping.
                            span Address1*
                            input(type="text" name="" required).inp

                        label.label
                            span Address2
                            input(type="text" name="" required).inp

                        label.label
                            span Address3
                            input(type="text" name="" required).inp

                        label.label.label-country.counter
                            span City*
                            input(type="text" name="" required).inp
                            a(href="").counter-add.js--counter--button.js-add
                            a(href="").counter-remove.js--counter--button.js-remove

                        label.label
                            span Postcode*
                            input(type="text" name="" required).inp

                        label.label
                            span Country
                            input(type="text" name="" required).inp

                        .cart-billing__info
                            h3 Billing Information
                            label.label
                                input(type="checkbox" name="delivery").hidden-block
                                .psevdocheckbox
                                span Deliver to the same address

                            label.label
                                input(type="checkbox" name="singin" checked).hidden-block
                                .psevdocheckbox
                                span Keep me sign in

                        .text-right.label
                            span *Required fields

                    .cart-payment
                        h3 Payment Method

                        .label
                            span Credit/Debet Card

                            label.label-card
                                input(type="radio" name="card").hidden-block
                                img(src="../../../img/icon--payment-vs.jpg" alt /)

                            label.label-card
                                input(type="radio" name="card").hidden-block
                                img(src="../../../img/icon--payment-ms.jpg" alt /)

                            label.label-card
                                input(type="radio" name="card").hidden-block
                                img(src="../../../img/icon--payment-mc.jpg" alt /)

                        label.label
                            span Name of credit card*
                            input(type="text" name="" required).inp

                        label.label
                            span Credit card Number*
                            input(type="text" name="" required).inp

                        .label
                            span Exppiration Date*

                            label.counter.one-two
                                input(type="text" name="day" maxlength="4" value="1" placeholder="Month").inp.input-number
                                a(href="").counter-add.js--counter--button.js-add
                                a(href="").counter-remove.js--counter--button.js-remove

                            label.counter.one-two
                                input(type="text" name="day" maxlength="4" value="1" placeholder="Year").inp.input-number
                                a(href="").counter-add.js--counter--button.js-add
                                a(href="").counter-remove.js--counter--button.js-remove

                        label.label.label-code
                            span Verification code*
                            input(type="text" name="" required).inp
                            span
                                small What is this?

                    .cart-summary
                        .justifyed
                            h3 Summary
                            a(href="").btn-gold order now

                        ul.cart--list
                            li.cart--list__el.caption.justifyed
                                .cart--list__el--product
                                    span product
                                .cart--list__el--quanity
                                    span quanity
                                .cart--list__el--price
                                    span price

                            li.cart--list__el.justifyed
                                .cart--list__el--product
                                    img(src="../../../img/img--wine.jpg" alt /)
                                    span Cornye & Barrow House Claret 2010 Halver

                                .cart--list__el--quanity
                                    span 1

                                .cart--list__el--price
                                    span HR$100

                            li.cart--list__el.justifyed
                                .cart--list__el--product
                                    img(src="../../../img/img--wine.jpg" alt /)
                                    span Cornye & Barrow House Claret 2010 Halver

                                .cart--list__el--quanity
                                    span 1

                                .cart--list__el--price
                                    span HR$100

                        .cart-summ
                            .cart-summ__position.justifyed
                                span
                                    strong Basket Total
                                span.value HK$201.50

                            .cart-summ__position.justifyed
                                span Estimated Delivery
                                span.value HR$0.00

                            .cart-summ__position.total.justifyed
                                span
                                    strong Final Total
                                span.value HR$201.50

                            .cart-summ__payment
                                a(href="").btn-gold order now


    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/cart3.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});