block vars
    - var title="Title"

extends ../../partials/layout

block content

    .width-wrap
        .cart-wrap
            .justifyed.cart-registration
                .cart-registration__el
                    h4 I`m already registered
                    .form-registration
                        form(action="" method="post")
                            label
                                input(type="text" name="mail" placeholder="Email*" required).inp
                            label
                                input(type="password" name="password" placeholder="password*" required).inp
                                a(href="") Forgot your password?

                            label
                                a(href="").btn-purple Sign In

                .cart-registration__el
                    div
                        h4 New to Cornny & Barrow?
                        a(href="" id="fb-root").btn-purple Continue as new customer

                    div
                        h4 Are you on facebook?
                        a(href="").login-fb
                        span We will never post on ypur behalf  or share any information without your permission

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/cart2.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});