<div class="screen-content floor-screen-content">
    <div class="floor-nav">
        <div class="floor-nav-content">
            <div class="floor-nav-pos">
                <span>1</span>
                <span> этаж</span>
            </div>
            <div class="floor-nav-pos-text"></div>
            <div class="floor-nav-label"></div>
        </div>
        <div class="navigator-control-sibling floor-nav-up active"></div>
        <div class="navigator-control-sibling floor-nav-down"></div>
    </div>
    <div class="plan-circles">
        <div class="house-name plan-circle circle-medium">
            <div class="circle-content" >
                <div class="circle-content-centered">
                    <div class="heading">
                        <span>Дом </span>
                        <span>1</span>
                    </div>
                    <div>
                        <span>корпус </span>
                        <span>2</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="house-name plan-circle circle-medium">
            <div class="circle-content">
                <div class="circle-content-centered">
                    <div class="heading">29</div>
                    <div>в продаже</div>
                </div>
            </div>
        </div>
    </div>
    <div class="flats-legend">
        <div class="c-1-2">
            <div class="legend-item type-studio" >Студии</div>
            <div class="legend-item type-room-1">Однокомнатные</div>
        </div>
        <div class="c-1-2">
            <div class="legend-item type-room-2">Двухкомнатные</div>
            <div class="legend-item type-room-3">Трехкомнатные</div>
        </div>
    </div>
    <div class="position-container pano-container">
        <div class="position-container-content">
            <div class="svg-loader is-supported is-rendered pano-svg">
                <div class="svg-loader-placeholder" ></div>
                <div class="svg-loader-content">
                    <svg width="946px" height="503px" viewBox="0 0 946 503" enable-background="new 0 0 946 503" class="svg--floor-1"></svg>
                    <svg class="svg--floor-2"></svg>
                    <svg class="svg--floor-3"></svg>
                </div>
            </div>
        </div>
    </div>
</div>