.service-content

  h3
    color $cPurple
    padding-top 10px
    padding-bottom 10px
    text-transform uppercase
    font-size 12px

  .one-two
    p
      font-size 11px
      line-height 15px
      padding-bottom 20px
      color #80776f