block vars
    - var title="Title"

extends ../../partials/layout

block content

    .width-wrap.grid
        ul.breadcrumbs
            li
                a(href="") Home
            li
                a(href="") All Wines
            li
                span Red Wine

        section.page-content.category
            aside.grid-item
                .tablet-hidden
                    h2 Browser

                    ul.aside-nav
                        li.has-sub
                            a(href="").icon-price Price
                            ul.sub-aside-nav
                                li
                                    a(href="") HKD 0 - HKD 100
                                li
                                    a(href="") HKD 100 - HKD 200
                                li
                                    a(href="") HKD 200 - HKD 300
                                li
                                    a(href="") HKD 300 - HKD 400

                        li.current-value
                            span   HKD 0 - HKD 100
                            a(href="").remove.js--remove-filter

                        li.has-sub
                            a(href="").icon-country Country
                        li.has-sub
                            a(href="").icon-producer Producer
                        li.has-sub
                            a(href="").icon-type Wine Type
                        li.has-sub
                            a(href="").icon-grape Grape Type
                        li.has-sub
                            a(href="").icon-regions Regions
                        li.has-sub
                            a(href="").icon-vintage Vintage
                        li.has-sub.overflow_ul
                            a(href="").icon-strength Strength

                            ul.sub-aside-nav
                                li
                                    a(href="") HKD 0 - HKD 100
                                li
                                    a(href="") HKD 100 - HKD 200
                                li
                                    a(href="") HKD 200 - HKD 300
                                li
                                    a(href="") HKD 300 - HKD 400
                                li
                                    a(href="") HKD 0 - HKD 100
                                li
                                    a(href="") HKD 100 - HKD 200
                                li
                                    a(href="") HKD 200 - HKD 300
                                li
                                    a(href="") HKD 300 - HKD 400
                                li
                                    a(href="") HKD 0 - HKD 100
                                li
                                    a(href="") HKD 100 - HKD 200
                                li
                                    a(href="") HKD 200 - HKD 300
                                li
                                    a(href="") HKD 300 - HKD 400
                                li
                                    a(href="") HKD 0 - HKD 100
                                li
                                    a(href="") HKD 100 - HKD 200
                                li
                                    a(href="") HKD 200 - HKD 300
                                li
                                    a(href="") HKD 300 - HKD 400
                                li
                                    a(href="") HKD 0 - HKD 100
                                li
                                    a(href="") HKD 100 - HKD 200
                                li
                                    a(href="") HKD 200 - HKD 300
                                li
                                    a(href="") HKD 300 - HKD 400
                                li
                                    a(href="") HKD 300 - HKD 400
                                li
                                    a(href="") HKD 0 - HKD 100
                                li
                                    a(href="") HKD 100 - HKD 200
                                li
                                    a(href="") HKD 200 - HKD 300
                                li
                                    a(href="") HKD 300 - HKD 400
                                li
                                    a(href="") HKD 0 - HKD 100
                                li
                                    a(href="") HKD 100 - HKD 200
                                li
                                    a(href="") HKD 200 - HKD 300
                                li
                                    a(href="") HKD 300 - HKD 400


                    a(href="").aside--banner
                        img(src="../../../img/aside-banner.png" alt /)


            .grid-item.two-third
                .category__tablet
                    ul.tablet-nav
                        li.has-sub
                            span.icon-price Price
                        li.sub-aside-nav
                            ul
                                li
                                    a(href="") HKD 0 - HKD 100
                                li
                                    a(href="") HKD 100 - HKD 200
                                li
                                    a(href="") HKD 200 - HKD 300
                                li
                                    a(href="") HKD 300 - HKD 400

                        li.current-value
                            span   HKD 0 - HKD 100
                            a(href="").remove.js--remove-filter

                        li.has-sub
                            a(href="").icon-country Country
                        li.has-sub
                            a(href="").icon-producer Producer
                        li.has-sub
                            a(href="").icon-type Wine Type
                        li.has-sub
                            a(href="").icon-grape Grape Type
                        li.has-sub
                            a(href="").icon-regions Regions
                        li.has-sub
                            a(href="").icon-vintage Vintage
                        li.has-sub
                            span.icon-strength Strength

                        li.sub-aside-nav
                            ul
                                li
                                    a(href="") HKD 0 - HKD 100
                                li
                                    a(href="") HKD 100 - HKD 200
                                li
                                    a(href="") HKD 200 - HKD 300
                                li
                                    a(href="") HKD 300 - HKD 400
                                li
                                    a(href="") HKD 0 - HKD 100
                                li
                                    a(href="") HKD 100 - HKD 200
                                li
                                    a(href="") HKD 200 - HKD 300
                                li
                                    a(href="") HKD 300 - HKD 400
                                li
                                    a(href="") HKD 0 - HKD 100
                                li
                                    a(href="") HKD 100 - HKD 200
                                li
                                    a(href="") HKD 200 - HKD 300
                                li
                                    a(href="") HKD 300 - HKD 400
                                li
                                    a(href="") HKD 0 - HKD 100
                                li
                                    a(href="") HKD 100 - HKD 200
                                li
                                    a(href="") HKD 200 - HKD 300
                                li
                                    a(href="") HKD 300 - HKD 400
                                li
                                    a(href="") HKD 0 - HKD 100
                                li
                                    a(href="") HKD 100 - HKD 200
                                li
                                    a(href="") HKD 200 - HKD 300
                                li
                                    a(href="") HKD 300 - HKD 400
                                li
                                    a(href="") HKD 300 - HKD 400
                                li
                                    a(href="") HKD 0 - HKD 100
                                li
                                    a(href="") HKD 100 - HKD 200
                                li
                                    a(href="") HKD 200 - HKD 300
                                li
                                    a(href="") HKD 300 - HKD 400
                                li
                                    a(href="") HKD 0 - HKD 100
                                li
                                    a(href="") HKD 100 - HKD 200
                                li
                                    a(href="") HKD 200 - HKD 300
                                li
                                    a(href="") HKD 300 - HKD 400

                .category__about.grid
                    .category__about--text.grid-item
                        h2 red Wine
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .category__about--img.grid-item
                       img(src='../../../img/banner_wine.jpg' alt /)

                .category__navigation
                    .justifyed
                        form(action="" method="")
                            label
                                span Sort By
                                select(name="sort").select-styled
                                    option(selected value="sort_1") Price (Low to High)
                                    option(value="sort_2") Latest Additions
                                    option(value="sort_3") More Popular
                                    option(value="sort_4") More Recent Vintage


                        ul.pagination
                            li
                                span 1
                            li
                                a(href="") 2
                            li
                                a(href="") 3
                            li
                                a(href="") 4
                            li
                                a(href="") 5
                            li
                                a(href="") ...
                            li
                                a(href="") Next
                            li
                                a(href="") >

                ul.item-list
                    li.item-list__el
                        a(href="").tem-list__el--title Corney & Barrow House
                            br
                            = " Claret 2010 Halves"
                        img(src="../../../img/img--wine.jpg")
                        .item-list__el__info
                            span.item-list__el__info--location France > Bourdoux
                            span Merlot blend
                            span Dry
                            span Medium bodied
                            span 13%

                            .counter
                                span
                                    i "Full & rounded with  a long complex finish"

                                span.price HK$100

                                input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                a(href="").counter-add.js--counter--button.js-add
                                a(href="").counter-remove.js--counter--button.js-remove

                                a(href="").btn-purple.add-to-busket.js--add ADD

                    li.item-list__el
                        a(href="").tem-list__el--title Corney & Barrow House
                            br
                            = " Claret 2010 Halves"
                        img(src="../../../img/img--wine.jpg")
                        .item-list__el__info
                            span.item-list__el__info--location France > Bourdoux
                            span Merlot blend
                            span Dry
                            span Medium bodied
                            span 13%

                            .counter
                                span
                                    i "Full & rounded with  a long complex finish"

                                span.price HK$100

                                input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                a(href="").counter-add.js--counter--button.js-add
                                a(href="").counter-remove.js--counter--button.js-remove

                                a(href="").btn-purple.add-to-busket.js--add ADD

                    li.item-list__el
                        a(href="").tem-list__el--title Corney & Barrow House
                            br
                            = " Claret 2010 Halves"
                        img(src="../../../img/img--wine.jpg")
                        .item-list__el__info
                            span.item-list__el__info--location France > Bourdoux
                            span Merlot blend
                            span Dry
                            span Medium bodied
                            span 13%

                            .counter
                                span
                                    i "Full & rounded with  a long complex finish"

                                span.price HK$100

                                input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                a(href="").counter-add.js--counter--button.js-add
                                a(href="").counter-remove.js--counter--button.js-remove

                                a(href="").btn-purple.add-to-busket.js--add ADD

                    li.item-list__el
                        a(href="").tem-list__el--title Corney & Barrow House
                            br
                            = " Claret 2010 Halves"
                        img(src="../../../img/img--wine.jpg")
                        .item-list__el__info
                            span.item-list__el__info--location France > Bourdoux
                            span Merlot blend
                            span Dry
                            span Medium bodied
                            span 13%

                            .counter
                                span
                                    i "Full & rounded with  a long complex finish"

                                span.price HK$100

                                input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                a(href="").counter-add.js--counter--button.js-add
                                a(href="").counter-remove.js--counter--button.js-remove

                                a(href="").btn-purple.add-to-busket.js--add ADD

                    li.item-list__el
                        a(href="").tem-list__el--title Corney & Barrow House
                            br
                            = " Claret 2010 Halves"
                        img(src="../../../img/img--wine.jpg")
                        .item-list__el__info
                            span.item-list__el__info--location France > Bourdoux
                            span Merlot blend
                            span Dry
                            span Medium bodied
                            span 13%

                            .counter
                                span
                                    i "Full & rounded with  a long complex finish"

                                span.price HK$100

                                input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                a(href="").counter-add.js--counter--button.js-add
                                a(href="").counter-remove.js--counter--button.js-remove

                                a(href="").btn-purple.add-to-busket.js--add ADD

                    li.item-list__el
                        a(href="").tem-list__el--title Corney & Barrow House
                            br
                            = " Claret 2010 Halves"
                        img(src="../../../img/img--wine.jpg")
                        .item-list__el__info
                            span.item-list__el__info--location France > Bourdoux
                            span Merlot blend
                            span Dry
                            span Medium bodied
                            span 13%

                            .counter
                                span
                                    i "Full & rounded with  a long complex finish"

                                span.price HK$100

                                input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                a(href="").counter-add.js--counter--button.js-add
                                a(href="").counter-remove.js--counter--button.js-remove

                                a(href="").btn-purple.add-to-busket.js--add ADD

                    li.item-list__el
                        a(href="").tem-list__el--title Corney & Barrow House
                            br
                            = " Claret 2010 Halves"
                        img(src="../../../img/img--wine.jpg")
                        .item-list__el__info
                            span.item-list__el__info--location France > Bourdoux
                            span Merlot blend
                            span Dry
                            span Medium bodied
                            span 13%

                            .counter
                                span
                                    i "Full & rounded with  a long complex finish"

                                span.price HK$100

                                input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                a(href="").counter-add.js--counter--button.js-add
                                a(href="").counter-remove.js--counter--button.js-remove

                                a(href="").btn-purple.add-to-busket.js--add ADD

                    li.item-list__el
                        a(href="").tem-list__el--title Corney & Barrow House
                            br
                            = " Claret 2010 Halves"
                        img(src="../../../img/img--wine.jpg")
                        .item-list__el__info
                            span.item-list__el__info--location France > Bourdoux
                            span Merlot blend
                            span Dry
                            span Medium bodied
                            span 13%

                            .counter
                                span
                                    i "Full & rounded with  a long complex finish"

                                span.price HK$100

                                input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                a(href="").counter-add.js--counter--button.js-add
                                a(href="").counter-remove.js--counter--button.js-remove

                                a(href="").btn-purple.add-to-busket.js--add ADD

                    li.item-list__el
                        a(href="").tem-list__el--title Corney & Barrow House
                            br
                            = " Claret 2010 Halves"
                        img(src="../../../img/img--wine.jpg")
                        .item-list__el__info
                            span.item-list__el__info--location France > Bourdoux
                            span Merlot blend
                            span Dry
                            span Medium bodied
                            span 13%

                            .counter
                                span
                                    i "Full & rounded with  a long complex finish"

                                span.price HK$100

                                input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                a(href="").counter-add.js--counter--button.js-add
                                a(href="").counter-remove.js--counter--button.js-remove

                                a(href="").btn-purple.add-to-busket.js--add ADD

                .bottom--pagination
                    ul.pagination
                        li
                            span 1
                        li
                            a(href="") 2
                        li
                            a(href="") 3
                        li
                            a(href="") 4
                        li
                            a(href="") 5
                        li
                            a(href="") ...
                        li
                            a(href="") Next
                        li
                            a(href="") >

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/category.jpg",opacity: 0.5,top: 67,left: 0,center: false,clip: true,show: false});});