.text-list
  margin-left -13px

  @media nt
    margin-left -2%

  @media tb
    margin-left -2%

  @media mb
    margin-left 0
    width 100%

  .color-gray
    .text-list--img
      a
        background rgba(209, 207, 206, 0.7)
        color #000000
      a:after
        background #c6c1b8 url("../img/icon--right.png") no-repeat 50% 50%

  .color-purple
    .text-list--img
      a
        background rgba(70, 30, 61, 0.8)
        color #ffffff
      a:after
        background #461e3d url("../img/icon--right.png") no-repeat 50% 50%

  li
    margin-left 11px
    width 315px
    margin-bottom 16px
    padding-top 7px

    @media nt
      margin-left 2%
      width 31.3%

    @media tb
      margin-left 2%
      width 48%

    @media mb
      display block
      width 100%
      margin 0 auto
      padding-bottom 20px

    .text-list--img
      background-size cover
      height 170px
      position relative
      margin-bottom 7px

      @media mb
        height 220px;

      a
        position absolute
        z-index 10px
        left 0
        right 0
        bottom 40px
        padding 9px 50px 10px 12px
        min-height 27px
        font-weight bold
        font-size 18px

      a:after
        position absolute
        width 22px
        height 22px
        border-radius 22px
        content ""
        top: 50%
        margin-top -11px
        right 16px

    .text-list--details
      display inline-block
      vertical-align top
      font-size 16px
      margin-left 12px

.item-list
  margin-left -19px

  @media tb
    text-align center

  .item-list__el
    display inline-block
    vertical-align top
    width 195px
    padding 10px 20px 23px
    margin-left 18px
    margin-bottom 18px
    background #fff
    text-align left

    .tem-list__el--title
      display block
      text-align left
      color $cPurple
      font-size 18px
      font-family $fGeorgia
      margin-bottom 13px

    img
      display inline-block
      vertical-align top
      width 53px
      margin-left 5px

    .item-list__el__info
      display inline-block
      vertical-align top
      width 115px
      margin-left 20px
      position relative
      padding-bottom 120px
      min-height 100px

      span
        font-size 10px
        display block
        margin-bottom 7px
        color $cGold
        font-weight bold
        font-family  $fGeorgia

      span.item-list__el__info--location
        color $cGrey


    .counter
      position absolute
      bottom 0
      left 0
      right 0
      overflow visible

      span
        position absolute
        color $cGrey
        left 0
        right 0
        bottom 65px
        font-size 9px
        line-height 12px

      span.price
        position absolute
        color $cPurple
        left 42px
        bottom 27px
        font-family $fGeorgia
        font-size 13px

      .inp
        border 1px solid #382f2d
        width 27px
        height 27px
        line-height 27px
        text-align center
        color #382f2d
        position absolute
        left 3px
        bottom 1px
        font-size 14px
        transition height 0s
        -webkit-transition height 0s

      .counter-add
        position absolute
        left 4px
        bottom 27px
        width 25px
        height 13px
        border-bottom 1px solid #382f2d
        background url("../img/icon--counter-w.jpg") no-repeat 50% -5px
        opacity 0

      .counter-remove
        position absolute
        left 4px
        bottom -12px
        width 25px
        height 13px
        border-top 1px solid #382f2d
        background url("../img/icon--counter-w.jpg") no-repeat 50% -20px
        opacity 0

      .btn-purple
        width 56px
        height 25px
        line-height 25px
        position absolute
        right 18px
        bottom 0
        text-align center
        border-radius 4px
        font-weight bold
        font-size 14px
        background $cGrey_l
        border 1px solid $cGrey_l

    .counter:hover
      .inp
        height 63px
        bottom -17px

      .counter-remove,
      .counter-add
        opacity 1

      .btn-purple
        background $cPurple
        border 1px solid $cPurple