.breadcrumbs
  display block
  margin-left 240px
  padding-top 17px
  padding-bottom 16px

  @media tb
    margin-left 10px

  li
    display inline-block
    margin-right 20px

    a
      display block
      color $cGold
      font-size 14px
      font-family $fGeorgia
      text-decoration underline
      position relative

    a:after
      position absolute
      content '>'
      right -15px

    span
      display block
      color $cGold
      font-size 14px
      font-family $fGeorgia

.page-content
  margin-bottom 30px

@media nt
  .about
    padding-left 240px

@media tb
  .about
    padding-left 10px
    padding-right 10px
    width auto

aside
  width 210px
  margin-left 15px

  @media nt
    margin-left -230px

  @media tb
    display none !important

  h2
    background $cPurple
    padding 15px 0 20px 40px
    color #ffffff !important
    font-weight lighter
    text-transform uppercase
    font-size 20px

  h2::first-letter
    font-size 24px

  .aside-nav
    display block
    padding-top 14px
    padding-bottom 5px
    background #ffffff


    li
      display block
      padding-left 40px
      padding-bottom 7px

      a, span
        font-family $fGeorgia
        font-size 17px

      span
        color $cGold

.two-third
  margin-left 15px
  width 705px
  background #ffffff
  padding-left 30px
  padding-right 10px
  padding-top 14px
  padding-bottom 15px

  @media nt
    width 63%
    margin-left 20px

  @media tb
    display block
    width auto
    margin-left 0
    padding-left 10px
    padding-right 10px

.tabs__caption
  display  block
  border-bottom 2px solid $cGrey_l
  white-space nowrap
  margin-bottom 30px

  @media tb
    margin-bottom 10px

  li
    display inline-block
    vertical-align top
    white-space normal
    margin-right 30px
    margin-bottom -2px
    text-transform uppercase
    font-family $fGeorgia
    color $cGrey
    font-size 12px
    padding-bottom 1px
    cursor pointer

    @media nt
      font-size 10px

    @media tb
      display block
      text-align left
      margin-bottom 5px
      font-size 12px

  li.active
    border-bottom 2px solid $cPurple

    @media tb
      border-bottom none
      color $cPurple

  li:last-child
    margin-right 0

.tabs__content.active
  display block

.tabs__content.map-content.active
  display inline-block
  vertical-align  top

.tabs__content.map-content
  width 265px
  margin-left 25px

  @media nt
    width 100%
    margin-left 0
    margin-top 30px

.tabs__content
  display none

  h3
    color $cPurple
    text-transform uppercase
    font-size 16px
    font-weight lighter
    padding-bottom 15px

  h3::first-letter
    font-size 18px

  p
    font-size 11px
    line-height 15px
    padding-bottom 20px
    color $cGrey

.pagination
  display inline-block
  vertical-align top

  li
    display inline-block
    vertical-align top
    margin 0 3px

    span, a
      font-family $fGeorgia
      font-size 16px

    span
      color $cGold

    a
      color $cPurple

.category__navigation
  .pagination
    li
      span
        color #ffffff