
.psevdofooter
  height 313px
  display block

  @media nt
    height 540px

  @media tb
    height 630px

  @media mb
    height 690px

.footer
  position absolute
  left 0
  right 0
  bottom 0
  height 273px
  background $cPurple
  padding 20px 0
  overflow hidden
  //position relative

  @media nt
    height 500px

  @media tb
    height 590px

  @media mb
    height 650px

  .width-wrap
    @media tb
      text-align center
    .justifyed
      @media nt
        display block

  span,
  p,
  a,
  h3
    color #ffffff

  ul
    li
      display block
      margin-bottom 5px

      a
        display inline-block
        vertical-align top
        font-size 10px
        line-height 15px
        font-family $fGeorgia

  h3::first-letter
    font-size 20px

  h3
    padding-bottom 8px
    text-transform uppercase

  &--corney
    display inline-block
    vertical-align top
    width 350px
    margin-left 28px

    @media nt
      margin-left 10px
      width 24%
      margin-right 20px

    @media tb
      width 80%
      padding-bottom 10px
      text-align center
      margin-left 9%
      margin-right 9%

    h3
      font-size 15px

    p
      width 210px
      padding-bottom 35px
      font-size 10px
      line-height 16px
      text-align left

      @media nt
        width 80%
        padding-bottom 10px

      @media tb
        width 100%

    a
      padding-left 20px
      font-size 20px
      position relative
      font-weight bold
      white-space nowrap

      @media nt
        font-size 14px


    a:before
      content ''
      position absolute
      width 6px
      height 15px
      left -1px
      top 3px
      background url("../img/icon--phone.png") no-repeat 0 0
      background-size 100% 100%

  &--about
    display inline-block
    vertical-align top
    width 160px

    @media nt
      width 24%

    @media tb
      width 30%
      text-align center

    @media mb
      width 25%
      text-align center

  &--contact
    display inline-block
    vertical-align top
    width 205px

    @media nt
      width 23%

    @media tb
      width 30%
      text-align center

    @media mb
      width 25%
      text-align center

  &--help
    display inline-block
    vertical-align top
    width 160px

    @media nt
      width 23%

    @media tb
      width 33%
      text-align center

    @media mb
      width 25%
      text-align center


  &--beginner
    display inline-block
    vertical-align top
    width 255px
    margin-right 25px

    @media nt
      display block
      margin 0 auto 10px

    @media tb
      display block
      margin-top 20px

    h3
      text-align center
      padding-bottom 2px
      background #ffffff
      color $cPurple

    .footer-form
      border 2px solid #ffffff
      padding 7px 8px 8px
      display block

      span
        display block
        min-height 15px
        line-height 15px
        padding-bottom 4px
        font-size 10px

      label
        display block
        min-height 19px

        .inp-hidden
          display none

        span
          display inline-block
          vertical-align top

        .psevdocheckbox
          display inline-block
          vertical-align top
          width 14px
          height 14px
          background #fff
          cursor pointer

        .inp-hidden:checked + div
          .psevdocheckbox
            background #fff url(../img/check.png) no-repeat 50% 50%
            background-size 100% 100%

      label.label-mail
        margin-top 13px
        width 305px
        position relative

        .inp
          width 235px
          border 2px solid #fff
          height 21px
          line-height 12px
          font-size 10px
          padding-left 7px

        a
          position absolute
          top 0
          right 71px
          bottom 0
          width 73px
          background #ffffff
          text-align center
          line-height 22px
          font-size 11px
          text-transform uppercase
          color $cPurple
          font-weight bold
          font-size 12px

    .footer-social
      text-align right
      margin-top 34px
      margin-right 3px

      @media nt
        text-align center
        margin-top 15px

      li
        width 26px
        height 26px
        margin-left 23px
        display inline-block
        vertical-align top

        @media nt
          margin 0 12px

        a
          display block
          width 26px
          height 26px
          border-radius 26px
          background-size 100% 100% !important

        a.footer-social--fb
          background url("../img/tw.png") no-repeat 0 0
        a.footer-social--tw
          background url("../img/fb.png") no-repeat 0 0
        a.footer-social--yo
          background url("../img/youtube.png") no-repeat 0 0
        a.footer-social--gm
          background url("../img/g+.png") no-repeat 0 0

        a.footer-social--fb:hover
          background url("../img/tw_hover.png") no-repeat 0 0
        a.footer-social--tw:hover
          background url("../img/fb_hover.png") no-repeat 0 0
        a.footer-social--yo:hover
          background url("../img/youtube_hover.png") no-repeat 0 0
        a.footer-social--gm:hover
          background url("../img/g+_hover.png") no-repeat 0 0

  span.footer-copyright
    display block
    margin-left 28px
    font-family Century Gothic, Century Schoolbook L, serif
    font-size 11px
    color #c6c1b8
    padding-top 24px

    @media nt
      text-align center
      padding-top 10px
      margin-left 0
