.header
  background $cPurple
  padding 31px 0 11px
  position relative
  z-index 50

  @media tb
    min-width 480px
    position relative
    padding-top 20px

  @media mb
    min-width 320px

  .width-wrap
    @media tb
      display block

  .open-menu
    display none
    width 30px
    height 22px
    background url("../img/icon-hamb.png") no-repeat 0 0

    @media tb
      position absolute
      top 10px
      left 10px
      display block

  &-logo
    display inline-block
    vertical-align top
    width 250px
    margin-left 15px

    @media nt
      width 150px
      margin-top 20px

    @media tb
      position relative
      display block
      margin 0 auto

    img
      width 100%

  &__contacts
    display inline-block
    vertical-align top
    width 220px
    margin-left -62px

    @media nt
      margin-left 0

    @media tb
      display block
      margin 0 auto 10px

    @media mb
      position relative
      display block
      margin 0 auto 20px

    &-phone
      display block
      padding-top 14px
      padding-bottom 4px
      white-space nowrap
      min-height 24px

      @media tb
        padding-bottom 0

      span
        display inline-block
        vertical-align top
        color #ffff
        font-size 12px
        line-height 18px
        font-family $fGeorgia
        padding-top 3px

      a
        display inline-block
        vertical-align top
        color #fff
        margin-left 30px
        font-size 19px
        line-height 18px
        position relative
        font-family $fGeorgia
        float right

      a:before
        content ''
        position absolute
        width 8px
        height 18px
        left -11px
        top 1px
        background url("../img/icon--phone.png") no-repeat  0 0
        background-size 100% 100%

    form
      display block
      position relative
      width 220px
      height 23px

      .inp
        width 220px
        height 23px
        border none
        background #fff

      .inp-submit
        position absolute
        top 2px
        right 2px
        bottom 2px
        width 20px
        background url("../img/icon--search.png") no-repeat 0 0
        background-size 100% 100%
        border none
        outline none
        cursor pointer

  &__right
    display inline-block
    vertical-align top
    width 300px
    text-align right
    padding-top 2px

    @media tb
      display block
      margin 0 auto
      text-align center

    @media mb
      position relative
      display block
      margin 0 auto 20px
      text-align center

    .header__select
      display block
      padding-bottom 6px
      
      @media tb
        padding-bottom 0

      &-el
        @media tb
          padding-left 10px !important
          padding-right 10px !important

        .header__select-hidden:before
          position absolute
          content ''
          width 45px
          height 18px
          background url(../img/decor--triangle.png) no-repeat 0 0
          top -2px
          left 50%
          margin-left -22px

        .header__select-hidden
          position absolute
          top 15px
          border 2px solid $cGold
          background #fff
          padding-top 0
          height 0
          opacity 0
          width 120px
          left 50%
          margin-left -60px
          transition opacity 0.2s
          -webkit-transition opacity 0.2s
          overflow hidden
          z-index 30

          ul
            display block

            li
              display block
              padding 5px 0 7px 10px
              text-align left
              margin-bottom 5px
              background transparent
              transition background 0.2s
              -webkit-transition background 0.2s

              a
                font-size 12px

            li:hover
              background $cGold_l

        .header__select-hidden:before
          position absolute
          content ''


      &-el:hover
        .header__select-hidden
          opacity 1
          height auto
          overflow visible
          z-index 20
          padding-top 20px

      &-language
        display inline-block
        vertical-align top
        text-align center
        padding 0 22px 12px 15px
        position relative

        @media tb
          padding-left 20px !important
          padding-right 20px !important
          width 100px

        span
          display block
          text-align center
          font-size 9px
          color #fff
          cursor pointer

      &-language:before
        position absolute
        content ''
        left 0
        top 1px
        height 8px
        border-left 1px solid #fff

        @media tb
          display none

      &-country
        display inline-block
        vertical-align top
        text-align center
        padding 0 17px 12px 17px
        position relative

        @media tb
          padding-left 10px !important
          padding-right 10px !important
          width 100px

        .header__select-hidden

          li
            img
              display inline-block
              vertical-align top
              width 12px
              height 8px
              margin-right 6px
              margin-top 3px

        span
          display inline-block
          vertical-align top
          text-align center
          font-size 9px
          color #fff
          cursor pointer

        img
          display inline-block
          vertical-align top
          width 17px
          height 12px
          margin-right 10px
          margin-top 0

    .header__links
      display block

      &-el
        padding-bottom 5px
        position relative
        z-index 10

        @media tb
          padding 0 25px

        .header__select-hidden
          position absolute
          top 22px
          border 2px solid $cGold
          background #fff
          padding-top 20px
          height 0
          opacity 0
          width 120px
          left 50%
          margin-left -60px
          transition opacity 0.2s
          -webkit-transition opacity 0.2s

          ul
            display block

            li
              display block
              padding 5px 0 7px 10px
              text-align left
              margin-bottom 5px
              background transparent
              transition background 0.2s
              -webkit-transition background 0.2s

              a
                font-size 12px
                color #000
                font-weight normal

            li:hover
              background $cGold_l

      &-el:hover

        .header__select-hidden
          opacity 1
          height auto
          z-index 20

      &-account
        display inline-block
        vertical-align top
        text-align center
        position relative
        margin 0 16px
        padding-bottom 12px
        z-index 10

        a
          display block
          text-align center
          font-size 12px
          text-transform uppercase
          font-weight 700
          color #fff
          cursor pointer
          font-family $fGeorgia
          transition color 0.2s
          -webkit-transition color 0.2s

        a:hover
          color $cGold_l

        .header__select-hidden

          li
            text-align left

            a
              color #000000
              text-align left
              font-family $fOpen

      &-basket:hover
        .header__select-hidden
          padding-top 30px

      &-basket
        display inline-block
        vertical-align top
        text-align center
        position relative
        margin 0 20px
        padding-bottom 5px

        a
          display block
          text-align center
          font-size 12px
          text-transform uppercase
          font-weight 700
          color #fff
          cursor pointer
          font-family $fGeorgia
          transition color 0.2s
          -webkit-transition color 0.2s

        a:hover
          color $cGold_l

        .header__select-hidden:before
          top 30px

        .header__select-hidden
          width 250px
          margin-left 0
          left auto
          right 0
          background transparent
          border none

          .header-baseket
            background #ffffff
            padding-top 20px
            border 2px solid $cGold


          .header-baseket__list
            display block

            li
              display block
              padding 0 25px
              margin-bottom 20px
              text-align left
              white-space nowrap

              img
                display inline-block
                vertical-align top
                width 35px
                margin-right 20px

              div
                display inline-block
                vertical-align top
                width 145px
                text-align left
                white-space normal

                span
                  display block
                  font-size 12px
                  color #000
                  text-transform none

                span.header-baseket__list--title
                  font-weight 700
                  font-size 13px
                  padding-bottom 5px

          .header-baseket__total
            background $cGold
            padding 5px 10px
            text-align right

            span
              display inline-block
              vertical-align top
              color #fff
              font-weight 700
              font-size 14px

            span.value
              margin-left 25px

          .header-baseket__buttons
            display block
            background #fff
            padding 7px 0
            text-align center

            a
              display inline-block
              vertical-align top
              width 110px
              margin 0 5px

    .header__basket
      display block
      text-align right
      margin-right 25px
      margin-top -11px

      @media mb
        position relative
        display block
        margin 20px auto 20px
        text-align center

      @media tb
        margin 0 auto
        text-align center

      a
        font-size 11px
        text-transform uppercase
        font-weight 700
        color #fff
        cursor pointer
        font-family $fGeorgia
        transition color 0.2s
        -webkit-transition color 0.2s
        padding-left 35px
        padding-top 2px
        height 21px
        background url("../img/icon--basket.png") no-repeat 0 0
        background-size auto 100%
        

        i
          font-size 14px
          text-decoration underline


      a:hover
        color $cGold_l

.nav
  display block
  background $cGrey
  height 50px
  margin-top -6px
  position relative

  @media tb
    display none

  .main-nav
    text-align center
    width 880px
    margin 0 auto
    position relative
    padding 0 55px

    @media nt
      width 760px
      padding 0 10px

    @media tb
      display block !important
      position absolute
      left 0
      right 0
      top 48px
      z-index 50
      overflow hidden
      height 0
      transition height 0.3s
      -webkit-transition height 0.3s

    li
      display inline-block
      vertical-align top

      @media tb
        display block
        text-align center
        padding 10px 0 12px
        border-bottom 1px solid $cGrey_l
        background $cGrey

      a
        font-family $fGeorgia
        color #ffffff
        font-size 21px
        text-transform uppercase
        height 50px
        line-height 54px

    li:hover
      .sub-menu
        display block

    .sub-menu
      position absolute
      left 0
      right 0
      top 50px
      background rgba(221,214,200,0.9)
      min-height 360px
      z-index 40
      padding-left 30px
      padding-right 35px
      padding-bottom 20px
      display none

      @media nt
        padding-left 5px
        padding-right 5px

      .sub-menu__col
        display inline-block
        vertical-align top
        width 170px
        text-align left
        padding-right 5px

        @media nt
          width 120px

        h4
          display block
          padding-top 17px
          padding-bottom 5px

        ul
          display inline-block
          height auto

          li
            display block
            padding-bottom 5px

            a
              font-size 14px
              line-height normal
              color #000
              text-transform none
              font-family $fOpen
              height auto

            a.show-all
              font-weight bold

            a:hover
              color $cPurple

        .promo
          display block
          height 205px
          position relative
          background-size cover

          span
            position absolute
            background rgba(255,255,255,0.6)
            left 0
            right 0
            bottom 12px
            padding 3px 0 5px
            text-align center
            font-size 12px

        .btn-purple
          width 130px
          margin 10px auto 0
          font-size 14px
          height 28px
          line-height 28px
          border-radius 4px
          display block
          text-align center

        ul:nth-child(2)
          padding-bottom 15px
          border-bottom 1px solid #b9b3ab

      .sub-menu__col:nth-child(3)
        width 205px

        @media nt
          width 155px

      .sub-menu__col:nth-child(4)
        width 155px

        @media nt
          width 135px

      .sub-menu__col:nth-child(5)
        width 155px