.cart-wrap
  padding 15px 20px 20px
  background #ffffff
  margin 50px 15px 30px

  h2
    color $cPurple
    font-size 26px
    text-transform uppercase
    font-weight normal
    padding-top 10px
    padding-bottom 23px

  h2.p-left
    padding-left 2%

  h2::first-letter
    font-size 28px

  .cart.justifyed
    @media nt
      display block

  .justifyed.cart
    align-items stretch

  .cart-content
    width 640px

    @media nt
      width 100%

    .cart--list
      display block

      li.caption
        margin-left 0
        padding 0 0 1px

        .cart--list__el--quanity
          padding-top 0

        .cart--list__el--product
          display inline-block
          vertical-align top
          width 423px

        span
          text-transform uppercase !important
          font-family $fGeorgia !important
          color $cGrey !important
          font-size 17px !important
          padding-top 0 !important

      li:last-child
        border-bottom none

      li
        padding 7px 0 15px
        border-bottom 1px solid $cGrey_l
        margin-left 13px

        .cart--list__el--product
          display inline-block
          vertical-align top
          width 410px

          img
            display inline-block
            vertical-align top
            width 30px
            margin-right 25px
            margin-top 10px

          div
            display inline-block
            vertical-align top
            width 320px
            padding-top 5px

            span
              display block
              color $cGrey
              font-family $fGeorgia
              font-size 11px
              padding-bottom 5px

            span.cart--list__el--product-title
              font-size 15px

        .cart--list__el--price,
        .cart--list__el--quanity
          display inline-block
          vertical-align top
          width 110px
          text-align center

        .cart--list__el--price
          span
            display block
            color $cPurple
            font-size 16px
            font-family  $fGeorgia
            padding-top 5px

        .cart--list__el--quanity
          padding-top 5px


          .counter
            display inline-block
            vertical-align middle
            position relative
            margin-right 10px

            .inp
              display block
              margin-right 15px
              width 18px
              height 18px
              border 1px solid $cGrey
              line-height 14px
              text-align center
              padding 0
              font-size 10px

            a
              position absolute
              right 0
              width 9px
              height 6px
              border 1px solid $cGrey

            .counter-add
              top 0
              background url("../img/icon--counter-sm.jpg") no-repeat 50% -1px

            .counter-remove
              bottom 0
              background url("../img/icon--counter-sm.jpg") no-repeat 50% -7px

          span
            display inline-block
            vertical-align middle
            font-size 10px
            color $cGrey

          a.remove
            display block
            text-align center
            font-size 10px
            color $cGrey
            margin-top 10px

            img
              width 7px
              height 7px
              margin-right 5px

  .cart-summ
    display inline-block
    vertical-align top
    padding 10px 10px 0
    width 250px
    border 2px solid $cGold

    @media nt
      display block
      margin 0 0 0 auto

    @media tb
      margin 0 auto

    h2
      padding-top 0
      padding-bottom 21px

    .cart-summ__position
      width 100%

      span
        display inline-block
        vertical-align top
        color $cGrey
        font-size 17px
        padding-bottom 14px

        strong
          color #000000
          font-weight bold

      span.value
        color $cPurple
        font-family $fGeorgia
        font-size 16px
        text-align right

    .cart-summ__position.total
      padding-top 16px
      border-top 1px solid $cGrey

    .cart-summ__payment
      margin-top 18px
      text-align right

      .btn-gold
        display block
        width 162px
        height 31px
        font-size 15px
        font-weight bold
        text-align center
        text-transform uppercase
        border-radius 5px
        line-height 31px
        margin-right 0
        margin-left auto

      .payment--method
        display block
        text-align right
        margin-top 15px
        margin-bottom 10px

        li
          margin-left 3px

          img
            display block
            width 30px

  .card-banners
    margin-left -1.5%
    margin-top 16px

    li
      margin-left 1.5%
      width 45.2%
      border 1px solid $cGrey_l
      padding 1.5% 3% 1.5% 0
      text-align left

      @media tb
        display block
        width 480px
        margin 0 auto 20px

      img
        display inline-block
        vertical-align  top
        width 35%
        margin-right 3%

      div
        display inline-block
        vertical-align  top
        width 61%

        span
          display block
          padding-bottom 12px
          font-family $fGeorgia
          color $cGrey
          font-size 13px
          line-height 22px
          font-style italic

        span.title
          font-size 14px
          font-weight bold

  .cart-registration.justifyed
    justify-content flex-start
    align-items stretch

    @media tb
      display block

    .cart-registration__el:nth-child(2)
      border-left 2px solid $cGold
      padding-left 4.5%
      padding-right 0
      width 45%

      @media tb
        display block
        border none
        width 95%
        padding-left 2%
        padding-right 2%

    .cart-registration__el
      display inline-block
      vertical-align  top
      width 39.5%
      padding-right 8.5%
      padding-top 22px
      margin-bottom 0

      @media tb
        display block
        border none
        width 95%
        padding-left 2%
        padding-right 2%

    .cart-registration__el:first-child
      padding-left 1%
      width 38.5%

    h4
      display block
      color $cGold
      font-family $fGeorgia
      font-size 18px
      font-weight normal
      padding-bottom 11px

    .form-registration

      label
        margin-top 19px
        display block

        .inp
          display inline-block
          vertical-align middle
          width 220px
          height 26px
          line-height 26px
          border 1px solid $cGold
          padding-left 10px
          padding-top 0
          padding-bottom 0
          font-size 13px
          font-style italic
          color $cGrey

        .inp::placeholder
          opacity 1
          color $cGrey_l

        a
          display inline-block
          vertical-align middle
          margin-left 11px
          color $cGold
          text-decoration underline
          font-size 11px

        .btn-purple
          display block
          width 98px
          height 26px
          text-align center
          line-height 26px
          font-size 15px
          text-transform uppercase
          border-radius 5px
          margin-left 0
          text-decoration none
          margin-top 6px

    div
      margin-bottom 35px

      .btn-purple
        display block
        width 283px
        height 26px
        text-align center
        line-height 26px
        font-size 15px
        text-transform uppercase
        border-radius 5px
        margin-left 0
        text-decoration none
        font-weight bold
        margin-bottom 10px

        @media mb
          width 100%

      .login-fb
        margin-bottom 10px

      span
        font-size 10px
        color $cGrey_l

  .cart-confirm
    align-items stretch

    @media tb
      display block

    h3
      display block
      text-transform uppercase
      font-size 18px
      color $cGold
      font-weight normal

    .cart-billing
      display inline-block
      vertical-align top
      width 30%
      padding-right 4%
      border-right 1px solid $cGold
      padding-left 1%

      @media tb
        width 97%
        padding 0 3%
        border-right none
        border-bottom 2px solid $cGold

      h3
        padding-bottom 13px

      .text-right
        padding-top 25px

    .label
      display block
      margin-bottom 9px

      span
        display block
        padding-bottom 3px
        color $cGold
        font-size 11px

        small
          display block
          padding-top 5px
          font-size 10px
          color $cGrey_l
          padding-bottom 18px
          padding-left 5px

        strong
          font-weight bold
          padding-top 10px
          display block
          padding-bottom 6px

      .inp
        display block
        border 1px solid $cGold
        height 24px
        font-size 12px
        color $cGold

    .label.one-two
      width 47%
      margin-right 1%
      display inline-block
      vertical-align top

    .label-gender
      cursor pointer
      margin-right 5px

      .hidden-block
        display none

      .psevdoradio
        border 1px solid $cGold
        width 5px
        height 5px
        display inline-block
        vertical-align middle
        padding 1px
        border-radius 7px

        i
          display block
          width 5px
          height 5px
          border-radius 5px

      input:checked + .psevdoradio i
        background $cGold


      span
        display inline-block
        vertical-align top
        margin-left 4px
        padding-top 5px

    label.one-three
      width 20%
      display inline-block
      vertical-align top
      margin-right 1%
      position relative

      .inp
        text-align center
        width 40px

      a
        position absolute
        right 0
        width 9px
        height 8px
        border 1px solid $cGold

      .counter-add
        top 0
        background url("../img/icon--counter-sm.jpg") no-repeat 50% 0

      .counter-remove
        bottom 0
        background url("../img/icon--counter-sm.jpg") no-repeat 50% -6px

    .label.label-country
      padding-right 15px
      position relative

      a
        position absolute
        right 0
        width 9px
        height 8px
        border 1px solid $cGold

      .counter-add
        top 15px
        background url("../img/icon--counter-sm.jpg") no-repeat 50% 0

      .counter-remove
        bottom 0
        background url("../img/icon--counter-sm.jpg") no-repeat 50% -6px

    .cart-billing__info
      padding-top 25px

      h3
        padding-bottom 0

      .label
        cursor pointer
        margin-bottom 0

        .hidden-block
          display none

        .psevdocheckbox
          border 1px solid $cGold
          width 9px
          height 9px
          display inline-block
          vertical-align middle

        input:checked + .psevdocheckbox
          background url("../img/icon--check.jpg ") no-repeat 0 0


        span
          display inline-block
          vertical-align top
          margin-left 8px
          padding-top 6px

    .label-card
      width 24%
      margin-right 1%
      display inline-block
      vertical-align top

      .hidden-block
        display none

      img
        border 2px solid transparent
        cursor pointer
        width 100%
        margin-bottom -6px

      input:checked + img
        border 2px solid $cGold

    .cart-payment
      display inline-block
      vertical-align top
      width 20%
      padding 0 3% 0 3%
      border-right 1px solid $cGold

      @media tb
        width 97%
        padding 3% 3% 0
        border-right none
        border-bottom  2px solid $cGold


      h3
        padding-bottom 13px

      label.one-two
        width 46%
        display inline-block
        vertical-align top
        position relative
        margin-right 2%

        @media tb
          width 25%

        @media mb
          width 46%

        .inp
          text-align center
          width 65px

        a
          position absolute
          right 0
          width 9px
          height 8px
          border 1px solid $cGold

          @media tb
            left 80px
            right auto

        .counter-add
          top 0
          background url("../img/icon--counter-sm.jpg") no-repeat 50% 0

        .counter-remove
          bottom 0
          background url("../img/icon--counter-sm.jpg") no-repeat 50% -6px

      .label-code
        .inp + span
          display inline-block
          vertical-align middle

        .inp
          display inline-block
          vertical-align top
          width 50px
          margin-right 5px

    .cart-summary
      display inline-block
      vertical-align top
      width 37%
      padding-left 3%

      @media tb
        width 97%
        padding 3% 3% 0
        border-right none

      .btn-gold
        display inline-block
        vertical-align middle
        width 140px
        height 32px
        line-height 32px
        border-radius 5px
        text-align center
        font-size 16px
        text-transform uppercase

      .justifyed
        .btn-gold
          margin-top -5px

      .cart--list
        display block
        margin-top 23px
        margin-left 5px
        margin-bottom 15px

        li.caption
          margin-left 0
          padding 0 0 1px

          .cart--list__el--quanity
            padding-top 0

          .cart--list__el--product
            display inline-block
            vertical-align top
            width 33%

          span
            text-transform uppercase !important
            font-family $fGeorgia !important
            color $cGrey !important
            font-size 14px !important
            padding-top 0 !important


        li:first-child
          border-bottom 2px solid $cGold

        li
          padding 7px 0 18px
          border-bottom 1px solid $cGold
          align-items center

          .cart--list__el--product
            display inline-block
            vertical-align top
            width 33%

            img
              display inline-block
              vertical-align top
              width 28px
              margin-right 25px
              margin-top 10px
              margin-bottom 10px
              margin-left 24px

            span
              display block
              text-align left
              font-size 10px
              line-height 14px
              color $cGrey
              font-family $fGeorgia
              width 100px

          .cart--list__el--price,
          .cart--list__el--quanity
            display inline-block
            vertical-align top
            width 33%
            text-align center

          .cart--list__el--price
            span
              display block
              color $cGrey
              font-size 16px
              font-family  $fGeorgia
              padding-top 5px

          .cart--list__el--quanity
            padding-top 5px

    .cart-summ
      border none
      display block
      text-align right
      width auto
      margin-left 18%
      padding-top 8px

      .cart-summ__position
        width 100%
        text-align right

        span
          display inline-block
          vertical-align top
          color $cGrey
          font-size 17px
          padding-bottom 5px

          strong
            color #000000
            font-weight bold

        span.value
          color $cGrey
          font-family $fGeorgia
          font-size 16px
          text-align right
          width 100px

      .cart-summ__position.total
        text-align right
        border-top none
        padding-top 0
        padding-top 19px

        span.value
          color $cPurple
          font-size 15px

      .cart-summ__payment
        margin-top 42px
        text-align right

        .btn-gold
          display block
          width 140px
          height 31px
          font-size 15px
          font-weight bold
          text-align center
          text-transform uppercase
          border-radius 5px
          line-height 31px
          margin-right -10px
          margin-left auto

        .payment--method
          display block
          text-align right
          margin-top 15px

          li
            margin-left 3px

            img
              display block
              width 30px