block vars
    - var title="Title"

extends ../../partials/layout

block content

    .width-wrap
        ul.breadcrumbs
            li
                a(href="") Home
            li
                a(href="") All Wines
            li
                a(href="") Red Wine
            li
                span Название вина

        section.page-content.product
            .product-info.justifyed
                .product-info__img
                    img(src='../../../img/img--wine-l.jpg' data-large="../../../img/img--wine-l.jpg" alt /).zoom-img

                .product-info__content
                    h2 Corney & Barrow House Claret 2010 Halves

                    .justifyed
                        .product-info__content__img
                            img(src='../../../img/img--wine-l.jpg' data-large="../../../img/img--wine-l.jpg" alt /).zoom-mobile
                        .product-info__content__pararms
                            span.product-info__content__pararms-price HK$1000
                            span.product-info__content__pararms-promo
                                i Traditional Claret combining vived red gruit  with classic structure, - very  approached  everyday  food wine.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            ul.product-info__content__pararms--charachter
                                li
                                    span.title Country:
                                    span France
                                li
                                    span.title Region:
                                    span Bourdeaux
                                li
                                    span.title Grape type:
                                    span Merlot Blend
                                li
                                    span.title Vintage:
                                    span 2010
                                li
                                    span.title Style:
                                    span Dry
                                li
                                    span.title Alc Vol:
                                    span 13%
                                li
                                    span.title Closure:
                                    span Cork
                                li
                                    span.title Case:
                                    span 6

                            span.product-info__content__pararms-date
                                i.icon-wine
                                = " Drink Now / Lay down 2013 - 2016"

                            span.product-info__content__pararms-delivery Delivery is FREE dor all orders  of $1.500 and over

                        .product-info__content__aside
                            .product-request
                                .product-request__amount.justifyed
                                    span Choose Quanity

                                    .counter
                                        input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                        a(href="").counter-add.js--counter--button.js-add
                                        a(href="").counter-remove.js--counter--button.js-remove


                                a(href="").btn-purple add to barrow
                                a(href="").btn-gold add to wishlist

                                .product-request__contacts
                                    .product-request__contacts--phone
                                        span any question
                                        span call us +852 3694 3333

                                    .product-request__contacts--address
                                        span Operation hours:
                                        span Monday to Friday,
                                        span 9 am to 6:30 pm

                            .product-producer
                                .product-producer__img
                                    img(src="../../../img/img--producer.jpg" alt /)
                                    span Champagne Guy de Chassey

                                .product-producer__text
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    a(href="") More from this producer


            .product-tabs
                .tabs
                    ul.tabs__caption
                        li.active Customer Reviews
                        li Press Reviews
                        li Full Notex

                    .tabs__content.active
                        span Product Rating:
                            small
                                i.icon-wine
                                i.icon-wine
                                i.icon-wine
                                i.icon-wine
                                i.icon-wine
                            = "5.00 # of Ratings : 6"
                            strong (Only registered customers can rate)

                        span There are no comments for this produxt.

                    .tabs__content
                        p Содержимое второй вкладки

                    .tabs__content
                        p Содержимое третей вкладки

            .product-galery.index-house
                .index-house__content
                    h2 Recent viewed
                    p Our House Wines represent excellent value without compromising on quality and taste. Great with food or simply to drink, with company or just for you.
                    a(href="") View all Best Sellers

                .house-slider-wrap
                    .house-slider
                        .house-slider__el
                            img(src="../../../img/img--wine.jpg" alt)
                            .house-slider__el--content
                                span.house-slider__el--content-title House Red
                                span
                                    i 2013
                                span.house-slider__el--content-price HK $100.0
                                span
                                    i “Full & rounded with a long complex finish”

                                .counter
                                    input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                    a(href="").counter-add.js--counter--button.js-add
                                    a(href="").counter-remove.js--counter--button.js-remove

                                    a(href="").btn-purple.add-to-busket.js--add ADD

                        .house-slider__el
                            img(src="../../../img/img--wine.jpg" alt)
                            .house-slider__el--content
                                span.house-slider__el--content-title House Red
                                span
                                    i 2013
                                span.house-slider__el--content-price HK $100.0
                                span
                                    i “Full & rounded with a long complex finish”
                                .counter
                                    input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                    a(href="").counter-add.js--counter--button.js-add
                                    a(href="").counter-remove.js--counter--button.js-remove

                                    a(href="").btn-purple.add-to-busket.js--add ADD

                        .house-slider__el
                            img(src="../../../img/img--wine.jpg" alt)
                            .house-slider__el--content
                                span.house-slider__el--content-title House Red
                                span
                                    i 2013
                                span.house-slider__el--content-price HK $100.0
                                span
                                    i “Full & rounded with a long complex finish”
                                .counter
                                    input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                    a(href="").counter-add.js--counter--button.js-add
                                    a(href="").counter-remove.js--counter--button.js-remove

                                    a(href="").btn-purple.add-to-busket.js--add ADD

                        .house-slider__el
                            img(src="../../../img/img--wine.jpg" alt)
                            .house-slider__el--content
                                span.house-slider__el--content-title House Red
                                span
                                    i 2013
                                span.house-slider__el--content-price HK $100.0
                                span
                                    i “Full & rounded with a long complex finish”
                                .counter
                                    input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                    a(href="").counter-add.js--counter--button.js-add
                                    a(href="").counter-remove.js--counter--button.js-remove

                                    a(href="").btn-purple.add-to-busket.js--add ADD

                        .house-slider__el
                            img(src="../../../img/img--wine.jpg" alt)
                            .house-slider__el--content
                                span.house-slider__el--content-title House Red
                                span
                                    i 2013
                                span.house-slider__el--content-price HK $100.0
                                span
                                    i “Full & rounded with a long complex finish”
                                .counter
                                    input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                    a(href="").counter-add.js--counter--button.js-add
                                    a(href="").counter-remove.js--counter--button.js-remove

                                    a(href="").btn-purple.add-to-busket.js--add ADD


            .product-galery.index-house
                .index-house__content
                    h2 Best Sellers
                    p Our House Wines represent excellent value without compromising on quality and taste. Great with food or simply to drink, with company or just for you.
                    a(href="") View all Best Sellers

                .house-slider-wrap
                    .house-slider
                        .house-slider__el
                            img(src="../../../img/img--wine.jpg" alt)
                            .house-slider__el--content
                                span.house-slider__el--content-title House Red
                                span
                                    i 2013
                                span.house-slider__el--content-price HK $100.0
                                span
                                    i “Full & rounded with a long complex finish”

                                .counter
                                    input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                    a(href="").counter-add.js--counter--button.js-add
                                    a(href="").counter-remove.js--counter--button.js-remove

                                    a(href="").btn-purple.add-to-busket.js--add ADD

                        .house-slider__el
                            img(src="../../../img/img--wine.jpg" alt)
                            .house-slider__el--content
                                span.house-slider__el--content-title House Red
                                span
                                    i 2013
                                span.house-slider__el--content-price HK $100.0
                                span
                                    i “Full & rounded with a long complex finish”
                                .counter
                                    input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                    a(href="").counter-add.js--counter--button.js-add
                                    a(href="").counter-remove.js--counter--button.js-remove

                                    a(href="").btn-purple.add-to-busket.js--add ADD

                        .house-slider__el
                            img(src="../../../img/img--wine.jpg" alt)
                            .house-slider__el--content
                                span.house-slider__el--content-title House Red
                                span
                                    i 2013
                                span.house-slider__el--content-price HK $100.0
                                span
                                    i “Full & rounded with a long complex finish”
                                .counter
                                    input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                    a(href="").counter-add.js--counter--button.js-add
                                    a(href="").counter-remove.js--counter--button.js-remove

                                    a(href="").btn-purple.add-to-busket.js--add ADD

                        .house-slider__el
                            img(src="../../../img/img--wine.jpg" alt)
                            .house-slider__el--content
                                span.house-slider__el--content-title House Red
                                span
                                    i 2013
                                span.house-slider__el--content-price HK $100.0
                                span
                                    i “Full & rounded with a long complex finish”
                                .counter
                                    input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                    a(href="").counter-add.js--counter--button.js-add
                                    a(href="").counter-remove.js--counter--button.js-remove

                                    a(href="").btn-purple.add-to-busket.js--add ADD

                        .house-slider__el
                            img(src="../../../img/img--wine.jpg" alt)
                            .house-slider__el--content
                                span.house-slider__el--content-title House Red
                                span
                                    i 2013
                                span.house-slider__el--content-price HK $100.0
                                span
                                    i “Full & rounded with a long complex finish”
                                .counter
                                    input(type="text" name="wine_min" maxlength="4" value="1").inp.input-number
                                    a(href="").counter-add.js--counter--button.js-add
                                    a(href="").counter-remove.js--counter--button.js-remove

                                    a(href="").btn-purple.add-to-busket.js--add ADD

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/product.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});