block vars

footer.footer

    .width-wrap
        .justifyed
            .footer--corney
                h3 CORNEY & BARROW

                p Every delicious bottle of wine from Corney & Barrow represents what we believe to be outstanding quality and value. Fine wine, timeless classics, and the very best in easy-drinking at everyday prices. Independent wine merchants since 1780, our service is defined by the quality of our people, our products, and you, our customers.

                a(href="tel:85236943333") 852-3694-3333

            .footer--about
                h3 About Us

                ul
                    li
                        a(href="").footer-link Asia
                    li
                        a(href="").footer-link Our Blog
                    li
                        a(href="").footer-link Our Bars
                    li
                        a(href="").footer-link Trade
                    li
                        a(href="").footer-link On Trade
                    li
                        a(href="").footer-link Our History
                    li
                        a(href="").footer-link The Bunch

            .footer--contact
                h3 Contact Us

                ul
                    li
                        a(href="").footer-link Our Loaction
                    li
                        a(href="").footer-link Newmarket Wine Shop
                    li
                        a(href="").footer-link Ayr Wine Shop
                    li
                        a(href="").footer-link Meet the Team
                    li
                        a(href="").footer-link Your Feedback
                    li
                        a(href="").footer-link Sell Your Wine
                    li
                        a(href="").footer-link Request  a Price list

            .footer--help
                h3 Help

                ul
                    li
                        a(href="").footer-link Popular Searches
                    li
                        a(href="").footer-link FAQs
                    li
                        a(href="").footer-link Wine Delivery
                    li
                        a(href="").footer-link Returns Policy
                    li
                        a(href="").footer-link Terms & conditions
                    li
                        a(href="").footer-link Cookies &  Privacy

            .footer--beginner
                h3 New to C&B?

                .footer-form
                    form(action="" method="post").main-form
                        span Sign up for latest offers, news and events
                        span
                            i I am interested in:

                        label
                            input(type="checkbox" name="everyday").inp-hidden
                            .justifyed
                                span Every Day Drinking Wine
                                .psevdocheckbox

                        label
                            input(type="checkbox" name="finewine").inp-hidden
                            .justifyed
                                span Fine Wine (Including en primeur or broking)
                                .psevdocheckbox

                        label.label-mail
                            input(type="text" name="mail" placeholder="Your Email Address").inp.required
                            a(href="").js--form-submit Sign Up

                ul.footer-social
                    li
                        a(href="").footer-social--tw
                    li
                        a(href="").footer-social--fb
                    li
                        a(href="").footer-social--yo
                    li
                        a(href="").footer-social--gm

        span.footer-copyright Copyright Corney & Barrow 2015 All Rights Reserved


