
header.header
    .width-wrap.justifyed
        a(href="" id="trigger").menu-trigger.open-menu

        a(href="").header-logo
            img(src = '../../../img/logo.png' alt)

        .header__contacts
            .header__contacts-phone
                a(href="tel:85236943333") 852-3694-3333
                span Phone order

            .header__contacts-search
                form(action= '' method='post').main-form
                    input(type='text' name='search').inp.required
                    input(type='submit' value=).inp-submit.js--form-submit

        .header__right
            .header__select.grid
                .header__select-el.grid-item.header__select-country
                    img(src = '../../../img/icon--flag.png' alt)
                    span Hong Kong

                    .header__select-hidden
                        ul
                            li
                                a(href="")
                                    img(src = '../../../img/icon--flag.png' alt)
                                    = "Hong Kong"
                            li
                                a(href="")
                                    img(src = '../../../img/icon--flag.png' alt)
                                    = "Singapore"

                .header__select-el.grid-item.header__select-language
                    span English

                    .header__select-hidden
                        ul
                            li
                                a(href="") English
                            li
                                a(href="") Russian
                            li
                                a(href="") 方 廾


            .header__links.grid

                .header__select-el.grid-item.header__links-account
                    a(href="") Account

                    .header__select-hidden
                        ul
                            li
                                a(href="") Login
                            li
                                a(href="") Registration
                            li
                                a(href="") Order tracking


                .header__select-el.grid-item.header__links-basket
                    a(href="") My barrow

                    .header__select-hidden
                        .header-baseket
                            ul.header-baseket__list
                                li
                                    a(href="")
                                        img(src='../../img/' alt)
                                        div
                                            span.header-baseket__list--title Corney & Barrow House Claret  2010 Halves
                                            span 1 item
                                            span HK $100

                                li
                                    a(href="")
                                        img(src='../../img/' alt)
                                        div
                                            span.header-baseket__list--title Corney & Barrow House Claret  2010 Halves
                                            span 1 item
                                            span HK $100

                            .header-baseket__total
                                span SUB TOTAL
                                span.value HK $200

                            .header-baseket__buttons
                                a(href="").btn.btn-transparent DETAILS
                                a(href="").btn.btn-purple Checkout

            .header__basket
                a(href="")
                    i 2
                    =" items"

.nav
    ul.main-nav.justifyed
        li
            a(href="") All wines

            .sub-menu
                .sub-menu__col
                    h4 Wine Type
                    ul
                        li
                            a(href="") Red wine
                        li
                            a(href="") White wine
                        li
                            a(href="") Sparkling wine
                        li
                            a(href="") Champagne
                        li
                            a(href="").show-all View all

                    h4 Grape Type
                    ul
                        li
                            a(href="") Malbec Blend
                        li
                            a(href="") Pinot Noir
                        li
                            a(href="") Merlot
                        li
                            a(href="") A grape type

                .sub-menu__col
                    h4 Country
                    ul
                        li
                            a(href="") France
                        li
                            a(href="") Italy
                        li
                            a(href="") Spain
                        li
                            a(href="") Portugal
                        li
                            a(href="").show-all View all

                    h4 Popular Regions
                    ul
                        li
                            a(href="") Bordeaux
                        li
                            a(href="") Burgundy
                        li
                            a(href="") Rhone Valley
                        li
                            a(href="") Champagne

                .sub-menu__col
                    h4 Exclusice Products
                    ul
                        li
                            a(href="") Petrus
                        li
                            a(href="") Domain
                        li
                            a(href="") Giacomo
                        li
                            a(href="") Exclusice Products
                        li
                            a(href="") Exclusice Products
                        li
                            a(href="") Exclusice Products
                        li
                            a(href="") Exclusice Products
                        li
                            a(href="").show-all View all

                    h4 Specialist Wine
                    ul
                        li
                            a(href="") Vegeterian/ Vegan Wine

                .sub-menu__col
                    h4 Fine Wine
                    ul
                        li
                            a(href="") Bordeaux
                        li
                            a(href="") Burgundy
                        li
                            a(href="") Rhone Valley
                        li
                            a(href="") Champagne
                        li
                            a(href="") France
                        li
                            a(href="") Italy

                    h4 Latest Releases
                    ul
                        li
                            a(href="") En Primeur  Releases
                        li
                            a(href="") Broking List

                .sub-menu__col
                    h4 Promo
                    .promo(style = "background: url(http://lorempixel.com/1920/700/food) no-repeat 50% 0;")
                        span Name of Wine

                    a(href="").btn-purple Shop now >

        li
            a(href="") Latest
        li
            a(href="") About wine
        li
            a(href="") Service
        li
            a(href="") About us

