doctype html
html
    block vars
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width" viewport="width=device-width")
        title #{title}

        link(rel='stylesheet', href="../../../css/style.css")
        script(src="../../../js/app-common.js")
        script(src="../../../js/modernizr.custom.js")
        script(src="../../../js/classie.js")
        script(src="../../../js/mlpushmenu.js")
        script(src="../../../js/app.js")
        script(src="../../../js/jquery.pixlayout.0.9.6.js")
        script(src="https://maps.googleapis.com/maps/api/js")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800&subset=latin,cyrillic' rel='stylesheet' type='text/css')

    body
        main
            .container
                .mp-pusher(id='mp-pusher')
                    include panel
                    .scroller
                        .scroller-inner
                            include header
                            block content
                            .psevdofooter
                            include  footer