block vars

nav(id="mp-menu").mp-menu
    .mp-level(data-level="1")
        ul
            li
                a(href="").icon.icon-arrow-left All wines

                .mp-level(data-level="2")
                    h2 All wines
                    ul
                        li
                            a(href="").icon.icon-arrow-left Wine Type
                                .mp-level(data-level="3").lev-three
                                    h2 Wine Type
                                    ul
                                        li
                                            a(href="") Red wine
                                        li
                                            a(href="") White wine
                                        li
                                            a(href="") Sparkling wine
                                        li
                                            a(href="") Champagne
                                        li
                                            a(href="") View all

                        li
                            a(href="").icon.icon-arrow-left Grape Type
                                .mp-level(data-level="3").lev-three
                                    h2 Grape Type
                                    ul
                                        li
                                            a(href="") Malbec Blend
                                        li
                                            a(href="") Pinot Noir
                                        li
                                            a(href="") Merlot
                                        li
                                            a(href="") A grape type

                        li
                            a(href="").icon.icon-arrow-left Country
                                .mp-level(data-level="3").lev-three
                                    h2 Country
                                    ul
                                        li
                                            a(href="") France
                                        li
                                            a(href="") Italy
                                        li
                                            a(href="") Spain
                                        li
                                            a(href="") Portugal
                                        li
                                            a(href="") View all

                        li
                            a(href="").icon.icon-arrow-left Popular Regions
                                .mp-level(data-level="3").lev-three
                                    h2 Popular Regions
                                    ul
                                        li
                                            a(href="") Bordeaux
                                        li
                                            a(href="") Burgundy
                                        li
                                            a(href="") Rhone Valley
                                        li
                                            a(href="") Champagne

                        li
                            a(href="").icon.icon-arrow-left Exclusice Products
                                .mp-level(data-level="3").lev-three
                                    h2 Exclusice Products
                                    ul
                                        li
                                            a(href="") Petrus
                                        li
                                            a(href="") Domain
                                        li
                                            a(href="") Giacomo
                                        li
                                            a(href="") Exclusice Products
                                        li
                                            a(href="") Exclusice Products
                                        li
                                            a(href="") Exclusice Products
                                        li
                                            a(href="") Exclusice Products
                                        li
                                            a(href="") View all

                        li
                            a(href="").icon.icon-arrow-left Specialist Wine
                                .mp-level(data-level="3").lev-three
                                    h2 Specialist Wine
                                    ul
                                        li
                                            a(href="") Vegeterian/ Vegan Wine

                        li
                            a(href="").icon.icon-arrow-left Fine Wine
                                .mp-level(data-level="3").lev-three
                                    h2 Fine Wine
                                    ul
                                        li
                                            a(href="") Bordeaux
                                        li
                                            a(href="") Burgundy
                                        li
                                            a(href="") Rhone Valley
                                        li
                                            a(href="") Champagne
                                        li
                                            a(href="") France
                                        li
                                            a(href="") Italy

                        li
                            a(href="").icon.icon-arrow-left Latest Releases
                                .mp-level(data-level="3").lev-three
                                    h2 Latest Releases
                                    ul
                                        li
                                            a(href="") En Primeur  Releases
                                        li
                                            a(href="") Broking List


            li
                a(href="") Latest
            li
                a(href="") About wine
            li
                a(href="") Service
            li
                a(href="").icon.icon-arrow-left About us

                .mp-level(data-level="2")
                    h2 About us
                    ul
                        li
                            a(href="") About Us
                        li
                            a(href="") Our Location
                        li
                            a(href="") Careers
                        li
                            a(href="") Meet The Team
                        li
                            a(href="") FAQs
                        li
                            a(href="") Contact us
