block vars
    - var title='DEV'

extends partials/layout_bootstrap

block content

    .container

        .page-header
            h1 Верстка по макетам

        .list-group

            .list-group-item.active Pages
            a.list-group-item(href="pages/pageFront/pageFront.html")
                h4 HomePage

            a.list-group-item(href="pages/pageAbout/pageAbout.html")
                h4 About-about us

            a.list-group-item(href="pages/pageAbout/pageCareer.html")
                h4 About-career

            a.list-group-item(href="pages/pageAbout/pageLocation.html")
                h4 About-location

            a.list-group-item(href="pages/pageCategory/pageCategory.html")
                h4 Category

            a.list-group-item(href="pages/pageProduct/pageProduct.html")
                h4 Product

            a.list-group-item(href="pages/pageService/pageService.html")
                h4 Service

            a.list-group-item(href="pages/pageCart/pageCart1.html")
                h4 Cart 1

            a.list-group-item(href="pages/pageCart/pageCart2.html")
                h4 Cart 2

            a.list-group-item(href="pages/pageCart/pageCart3.html")
                h4 Cart 3

            a.list-group-item(href="pages/pageChart/pageChart.html")
                h4 Chart


        //- h3 UI kit
        //-     .list-group
        //-         a.list-group-item(href="/static/html/ui/preloader/preloader.html")
        //-             h4 Индикатор загрузки
